<div class="popups">
	<div class="modal hide b-vPayment-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-header">

				<h3 class="i18nflex">
					<span class="i18n" data-i18n="REGISTER/SHOW_PAYMENT"></span>
				</h3>
			</div>
			<div class="modal-body pl-body">
				<div class="vPlan-title">
					<span class="">套餐</span>
					<span class="">18 GB邮箱容量
						<span>30元/月</span>
					</span>
				</div>
				<div class="vPlan-account-area">
					<span class="">帐号</span>
					<span class="">zay7oo@vip.mongol.email</span>
				</div>
				<div class="vPlan-sale">
					<div class="sale-list">
						<div class="sale-item" data-bind="foreach: vPayBox">
							<div class="sale-msg">
								<div class="sale-time" data-bind="text: monthNr">1</div>
								<div class="sale-price" data-bind="text: price">2</div>
								<div class="sale-tips" data-bind="text: descriptionTx">3</div>
							</div>
						</div>
					</div>
				</div>
				<div class="vPlan-discount">
					<span class="discount-title">优惠码</span>
					<span class="discount-input">
						<div class="dis-input">
							<input type="text" placeholder="请输入优惠码">
						</div>
					</span>
				</div>
				<div class="vPlan-payment">
					<div class="payment-argeement"></div>
					<div class="payment-msg">
						<div class="pay-QRcode"></div>
						<div class="pay-order-msg">
							<p class="price-msg">
								<span class="unit"></span>
								<span class="money"></span>
							</p>

							<div>
								<p class="pay-tips"></p>
								<div class="pay-icon">
									<i></i>
									<i></i>
								</div>
							</div>
						</div>
					</div>
					<div class="payment-button" style="display: none;">
						<button></button>
						<span></span>
					</div>
				</div>
			</div>
			<div class="modal-footer pl-footer">
				<button type="button" class="close v-close" data-bind="command: cancelCommand">&times;</button>
			</div>
		</div>
	</div>
</div>