<div class="popups">
	<div class="modal hide b-vPayment-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-header">

				<h3 class="i18nflex">
					<span class="i18n" data-i18n="REGISTER/SHOW_PAYMENT"></span>
				</h3>
			</div>
			<div class="modal-body pl-body">
				<div class="vPlan-title">
					<span class="vPlan-prefix">套餐</span>
					<span class="vPlan-pName">18 GB邮箱容量
						<span>30元/月</span>
					</span>
				</div>
				<div class="vPlan-account-area">
					<div class="vPlan-account">
						<span class="">帐号</span>
						<span class="">zay7oo@vip.mongol.email</span>
					</div>
				</div>
				<div class="vPlan-sale">
					<div class="sale-list" data-bind="foreach: vSaleList">
						<div class="sale-item" data-bind="click: function () { $root.vSaleChooser(vipPlanCd); }">
							<div class="sale-tips">赠1个月服务期</div>
							<div class="sale-msg">
								<div class="sale-time" data-bind="text: monthNr"></div>
								<div class="sale-price">
									<span class="s-price-unit">￥</span>
									<span class="s-price-money" data-bind="text: price"></span>
								</div>
								<div class="sale-sub-tips" data-bind="text: descriptionTx"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="vPlan-discount">
					<span class="discount-title">优惠码</span>
					<span class="discount-input">
						<div class="dis-input">
							<input type="text" placeholder="请输入优惠码">
						</div>
					</span>
				</div>
				<div class="vPlan-payment">
					<div class="payment-argeement"></div>
					<div class="payment-msg">
						<img class="pay-QRcode" data-bind="attr: { 'src': payQr()}" alt="QRcode"></img>
						<div class="pay-order-msg">
							<p class="price-msg">
								<span class="prc-unit">￥</span>
								<span class="prc-money" data-bind="text: vPayPrc"></span>
							</p>

							<div>
								<p class="pay-tips">使用支付宝或微信扫码支付</p>
								<div class="pay-icon">
									<i></i>
									<i></i>
								</div>
							</div>
						</div>
					</div>
					<div class="payment-btn" style="display: none;">
						<button></button>
						<span></span>
					</div>
				</div>
			</div>
			<div class="modal-footer pl-footer">
				<button type="button" class="close v-close" data-bind="command: cancelCommand">&times;</button>
			</div>
		</div>
	</div>
</div>