<div class="popups">
	<div class="modal hide b-ask-content g-ui-user-select-none modal-width" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-body body-width-small">
				<br />
				<br />
				<span class="desc-place i18nflex" data-bind="html: askDesc"></span>
				<br />
				<br />
				<br />
			</div>
			<div class="modal-footer" style="width: 45%; display: flex;">
				<button class="btn buttonYes bbty-mgl" data-bind="click: yesClick, hasFocus: yesFocus">
					<i class="icon-ok ic-mgl"></i>
					&nbsp;&nbsp;
					<span data-bind="text: yesButton" style="writing-mode: vertical-lr;"></span>
				</button>
				<button class="btn buttonNo bbtn-mgl" data-bind="click: noClick, hasFocus: noFocus">
					<i class=" icon-remove"></i>
					&nbsp;&nbsp;
					<span data-bind="text: noButton" style="writing-mode: vertical-lr;"></span>
				</button>
			</div>
		</div>
	</div>
</div>
