<div class="popups">
	<div class="modal hide b-ask-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-body">
				<span class="desc-place i18nflex" data-bind="html: askDesc"></span>
			</div>
			<div class="modal-footer">
				<div>
					<button class="btn buttonYes" data-bind="click: yesClick, hasFocus: yesFocus">
						<i class="icon-ok"></i>
						&nbsp;
						<div class="i18nflex" data-bind="text: yesButton"></div>
					</button>
					<button class="btn buttonNo" data-bind="click: noClick, hasFocus: noFocus">
						<i class=" icon-remove"></i>
						&nbsp;
						<div class="i18nflex" data-bind="text: noButton"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>