<div class="popups">
	<div class="modal hide b-vPayment-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-header">

				<h3 class="i18nflex">
					<span class="i18n" data-i18n="VIPCASH/LABEL_TITLE"></span>
				</h3>
			</div>
			<div class="modal-body pl-body">
				<div class="vPlan-sale">
					<div class="sale-list" data-bind="foreach: vSaleList">
						<div data-bind="click: function () { $root.vSaleChooser(vipPlanCd, index); }, 
							attr: {class: index == $root.vSelected() ? 'sale-item selected' : 'sale-item'}">
							<!-- <div class="sale-tips">赠1个月服务期</div> -->
							<div class="sale-msg">
								<div class="sale-time">
									<span data-bind="text: monthNr"></span>
									<span class="i18nflex" data-i18n="VIPCASH/LABEL_TIME"></span>
								</div>
								<div class="sale-price">
									<span class="s-price-unit">￥</span>
									<span class="s-price-money ePrice" data-bind="text: eventPrice"></span>
									<span data-bind="text: price, attr: {class: eventPrice != null ? 's-ePrice-money tag-line' : 's-price-money'}"></span>
								</div>
								<div class="sale-sub-tips" data-bind="text: descriptionTx"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="vCash-view">
					<div class="view-flex">
						<div class="vPlan-title i18nflex">
							<span class="vPlan-prefix" data-i18n="VIPCASH/LABEL_PACKGE"></span>
							<span class="vPlan-pName" data-bind="text: packgeCapac"></span>
							<span data-bind="text: packgePrc"></span>
							<span class="i18nflex" data-i18n="VIPCASH/LABEL_TIME"></span>
						</div>
						<div class="vPlan-account-area i18nflex">
							<div class="vPlan-account">
								<span class="" data-i18n="VIPCASH/LABEL_ACCOUNT"></span>
								<span class="" data-bind="text: email"></span>
							</div>
						</div>
						<div class="vPlan-discount i18nflex">
							<span class="discount-title" data-i18n="VIPCASH/LABEL_DISCOUNT"></span>
							<span class="discount-input">
								<input class="dis-input" type="text" data-i18n="[placeholder]VIPCASH/PLACEHOLDER_DISCOUNT"
									data-bind="textInput: PromoCode">
							</span>
						</div>
					</div>
					
					<div class="vPlan-payment">
						<div class="payment-argeement"></div>
						<div class="payment-msg">
							<img class="pay-QRcode" data-bind="attr: { 'src': payQr()}" alt="QRcode"></img>
							<div class="pay-order-msg">
								<p class="price-msg">
									<span class="prc-unit">￥</span>
									<span class="prc-money">
										<span data-bind="text: vEvtPrc"></span>
										<span data-bind="text: vPayPrc"></span>
									</span>
								</p>
	
								<div class="view-flex">
									<p class="pay-tips i18nflex" data-i18n="VIPCASH/LABEL_PAY_TIPS"></p>
									<div class="pay-icon">
										<svg class="hsvg-icon h-icon input-icon" aria-hidden="true">
											<use xlink:href="#iconwechat"></use>
										</svg>
										<svg class="hsvg-icon h-icon input-icon" aria-hidden="true">
											<use xlink:href="#iconwechat"></use>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="payment-btn" style="display: none;">
							<button></button>
							<span></span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer pl-footer">
				<a class="close-custom v-close" data-bind="click: tryToClosePopup">&times;</a>
			</div>
		</div>
	</div>
</div>