<div class="popups">
	<div class="modal hide b-ask-content g-ui-user-select-none pa-min" data-bind="modal: modalVisibility">
		<div class="modal-flex" style="height: 100%;">
			<div class="modal-body" style="width: 100%;">
				<br />
				<br />
				<span class="desc-place i18nflex" data-bind="html: askDesc"></span>
				<br />
				<br />
				<br />
			</div>
			<div class="modal-footer">
				<div>
					<button class="btn buttonYes" data-bind="click: yesClick, hasFocus: yesFocus">
						<i class="icon-ok ic-mgl"></i>
						&nbsp;&nbsp;
						<span class="bt-text" data-bind="text: yesButton"></span>
					</button>
					<button class="btn buttonNo" data-bind="click: noClick, hasFocus: noFocus">
						<i class=" icon-remove"></i>
						&nbsp;&nbsp;
						<span class="bt-text" data-bind="text: noButton"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>