<div class="popups">
	<div class="modal hide b-languages-content g-ui-user-select-none" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-header">

				<h3 class="i18nflex">
					<span class="i18n" data-i18n="POPUPS_LANGUAGES/TITLE_LANGUAGES"></span>
				</h3>
			</div>
			<div class="modal-body pl-body">
				<div class="vPlan-title">
					<span></span>
					<span></span>
				</div>
				<div class="vPlan-sale">
					<div></div>
				</div>
				<div class="vPlan-QRcode">
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="modal-footer pl-footer">
				<button type="button" class="close pl-close" data-bind="command: cancelCommand">&times;</button>
			</div>
		</div>
	</div>
</div>