/***************************************************************************************/
/*IEのみ*/
@media all and (-ms-high-contrast: none) {/*ここに書く*/}
/*Firefoxのみ*/
@-moz-document url-prefix() {/*ここに書く*/}
/*Chromeのみ*/
@media screen and (-webkit-min-device-pixel-ratio:0) {/*ここに書く*/}
/*safariのみ*/
_::-webkit-full-page-media, _:future, :root /*.css_selector名*/ {/*ここに書く*/}
/***************************************************************************************/
/*縦表示*/
.b-message-list-wrapper,
.messageView .b-content .messageItemHeader,
.messageView .b-content .b-message-view-desc,
.messageView .b-content .messageItem .bodyText .b-text-part.plain pre,
.messageView .b-content .messageItem .loading,
.b-folders .b-content .e-item,
.popups .btn.btn-success {
	-webkit-writing-mode:vertical-lr;
	writing-mode:vertical-lr;
}
.messageList .second-toolbar,
.messageView .b-content .messageItemHeader,
.messageView .b-content .messageItemHeader .informationShort.-bottom ,
.messageView .b-content .messageItemHeader .subjectParent,
.messageList .b-footer,
.messageView .b-content .messageItem .bodyText .b-text-part.plain pre,
.messageView .b-content .messageItem .loading {
	height: -webkit-fill-available;
	max-height: -webkit-fill-available;
	height: -moz-available;
	max-height: -moz-available;
}
/***************************************************************************************/
/*** ▼メール一覧ブロック▼ ***/
/*全体*/
button.close {
	position: absolute;
}
/*普段表示しないもの*/
.messageList .line-loading {
	top: 0px;
}
.messageList .b-content .listDragOver {
	max-width: 0px;
}
/*不要なもの*/
.messageList .toolbarDelimiter,
.messageList .footerDelimiter {
	display: none;
}
/*縦に分割*/
.messageList .second-toolbar {
	width: 30px;
	border-radius: 4px 0px 0px 5px;
	border-right: 1px solid #CCC;
}
.messageList .b-content {
	top: 0px;
  bottom: 0px;
  left: 50px;
	right: 45px;
}

.messageList .b-content .messageListItem {
	height: 100%;
	max-height: none;
}

/*分割しない*/
.messageList .b-content .messageListItem.e-single-line {
	height: 100%;
	width: 50px;
}
.messageList .b-content .messageListItem.e-single-line .senderParent {
	width: 100%;
}
.messageList .b-content .listDragOver {
	padding: 0;
}

/*選択したメッセージ詳細*/
.messageView .b-content .messageItemHeader {
	width: 20%;
}
.messageView .b-content .messageItemHeader .subjectParent {
  line-height: 47px;
}
.messageView .b-content .flagParent {
	margin: 3px;
}
.messageView .b-content .messageItemHeader .senderParent.-top {
	width: 25px;
}
.messageView .b-content .messageItemHeader .informationFull td:first-child {
	text-align: left;
}
.messageView .b-content .messageItemHeader .informationFull td {
	border-right: 1px solid #ddd;
	font-size: 11px;
}
.messageView .b-content .messageItem {
	top: 0px;
  left: 23%;
}
.messageList .b-content .messageListItem.e-single-line .wrapper {
	line-height: 15px;
}
.messageList .b-content .messageListItem.e-single-line .attachmentParent{
	float: inherit;
}
.messageList .b-content .messageListItem .checkedParent,
.messageList .b-content .messageListItem.e-single-line .flagParent,
.messageList .b-content .messageListItem.e-single-line .senderParent {
	padding: 0 6px;
}
.messageList .b-content .messageListItem .subjectParent {
	float: inline-start;
}
.messageView .b-content .messageItem .loading {
	padding-left: 50px;
  width: 100%;
}
.messageView .b-content .messageItemHeader .senderParent.-bottom {
	margin-left: 10px;
}
/*footer*/
.messageList .b-footer {
	width: 30px;
  left: auto;
	border-radius: 0 4px 4px 0;
	border-right: 1px solid #CCC;
}
/*Mobileのみ*/
@media screen and (max-width:600px){
  /*600px以上で適用する内容*/
	.messageList .b-content {
		right: 0;
	}
	.messageList .b-footer {
		height: auto;
    right: auto;
    border-right: 0;
	}
}
/*** ▲メール一覧ブロック▲ ***/
/***************************************************************************************/
/*** ▼左メニュー▼ ***/
.b-folders .b-folder-system-item {
	height: 145px;
}
.b-folders .b-content .e-item {
  float: left;
  width: 50px;
}
.b-folders .b-content .e-item .e-link{
	height: 140px;
	line-height: 30px;
	vertical-align: unset;
}
.b-folders .b-content .e-item .e-link.print-count .count {
  display: block	;
  float: left;
}
.b-folders .b-list-delimiter {
	clear: both;
}
.b-folders-system {
	border-top: 3px solid rgba(0,0,0,0.5) !important;
  border-bottom: 3px solid rgba(0,0,0,0.5) !important;
  height: 285px;
}
/*** ▲左メニュー▲ ***/
/***************************************************************************************/
/*** ▼新規作成画面▼ ***/
.b-compose.loading .b-header-toolbar,
.b-compose .b-header-toolbar {
	height: 80px;
}
.popups .btn.btn-success {
	  background: #8cd460;
    color: rgba(255, 255, 255, 0.47);
    font-weight: bold;
    width: 55px;
    height: 55px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 0px 0px 8px #8cd460;
    border: solid 2px rgba(255, 255, 255, 0.47);
		transition: .4s;
}
.popups .btn.btn-success:hover{
		border-style: dashed;
		color: #FFF;
}
.popups .btn.btn-success .icon-white {
	color: rgba(255, 255, 255, 0.47);
}
.popups .btn.btn-success .icon-white:hover {
	color: #FFF;
}
.b-compose .b-header-toolbar .button-save {
	box-shadow: 0px 0px 0px 7px #8cd460;
  border-radius: 0px 1px 1px 0px;
}
/*** ▲新規作成画面▲ ***/
/***************************************************************************************/
