<div data-bind="attr: {'id': pid}" class="e-component e-select inline" style="width: 100%;">
	<!-- ko if: preLabeled -->
	<span class="i18n" data-bind="attr: {'data-i18n': preLabel}"></span>
	<!-- /ko -->
	<div style="width: 100%;" data-bind="
			command: toggleDropDownCommand,
			css: className,
			optionsAfterRender: defautOptionsAfterRender">
		<div class="select-dn i18nflex"></div>
		<span class="selectBox-arrow"></span>
	</div>
	<select style="display: none;" data-bind="
		command: toggleDropDownCommand,
		options: options,
		value: value,
		enable: enable,
		optionsText: optionsText,
		optionsValue: optionsValue,
		optionsCaption: optionsCaption,
		css: className,
		optionsAfterRender: defautOptionsAfterRender">
	</select>
	<ul class="selectBox-dropdown-menu selectBox-options dropdownlist-selectBox-dropdown-menu i18nflex"
		style="display:none;">
	</ul>
	<!-- ko if: labeled -->
	<span class="i18n" data-bind="attr: {'data-i18n': label}"></span>
	<!-- /ko -->
	<!-- ko if: triggered -->
	<div data-bind="component: {
		name: 'SaveTrigger',
		params: { value: trigger }
	}"></div>
	<!-- /ko -->
</div>