<div class="b-login-content">

    <div class="e-view">
        <div class="e-left-view l-full">
            <div class="back-login" data-bind="click: gotoLogin">
                <img data-bind="attr: {'src': srcAttrBk()}"></img>
            </div>
        </div>
        <div class="e-right-view r-full">

            <div class="loginFormWrapper fullFormWrapper">
                <center class="plugin-mark-Login-BeforeLogo">
                      <div class="wrapper-parent login-flex">
        
                        <form class="wrapper loginForm login-flex" style="width: 800px;" action="#/"
                            data-bind="submit: submitForm,
                                css: {
                                    'errorAnimated': formError,
                                    'submitting': submitRequest()
                                },">
        
                            <div class="vertical-view">
                                <div class="alert alert Error" data-bind="visibleAnimated: '' !== submitError()">
                                    <button type="button" class="close" data-bind="click: function () { submitError('') }">
                                        &times;
                                    </button>
                                    <span data-bind="text: submitError"></span>
                                    <div data-bind="visible: '' !== submitErrorAddidional()">
                                        <br />
                                        <span id="email_error" data-bind="text: submitErrorAddidional"></span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <h3 class="label-h3" data-i18n="FINDPASSWORD/LABEL_TITLE"></h3>
                            </div>
        
                            <div class="vertical-view">
                                <img class="ipt-img" data-bind="attr: {'src': srcAttrEmail()}">
                                <input type="email" class="v-input" data-i18n="[placeholder]FINDPASSWORD/LABEL_EMAIL"
                                    autocomplete="email"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    spellcheck="false"
                                    data-bind="textInput: email, hasFocuns: emailFocus, disable: submitRequest">
                                <div class="v-val">
                                    <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <img class="ipt-img" data-bind="attr: {'src': srcAttrPhone()}">
                                <input type="text" class="v-input" data-i18n="[placeholder]FINDPASSWORD/LABEL_PHONE_NUMBER">
                                <div class="v-val">
                                    <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <div class="">
                                    <img class="ipt-img" data-bind="attr: {'src': srcAttrPhone()}">
                                    <input type="text" class="v-input sms-input" data-i18n="[placeholder]FINDPASSWORD/LABEL_PHONE_AUTH_CODE"
                                        data-bind="textInput: cellPhoneVerificationCode, hasFocus: cellPhoneVerificationCodeFocus, disable: submitRequest">
                                    <div class="v-btn v-sms" id="smsCode" type="submit" data-bind="command: getCodeCommand">
                                        <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_SMSCODE"></span>
                                    </div>
                                    <div class="v-val">
                                        <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <img class="ipt-img" data-bind="attr: {'src': srcAttrLock()}">
                                <input type="password" class="v-input" data-i18n="[placeholder]FINDPASSWORD/LABEL_PASSWORD_FORMAT"
                                    data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest">
                                <div class="v-val">
                                    <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <img class="ipt-img" data-bind="attr: {'src': srcAttrLock()}">
                                <input type="tel" class="v-input" data-i18n="[placeholder]FINDPASSWORD/LABEL_CONFIRM_PASSWOD_FORMAT"
                                    data-bind="textInput: affirmPassword, hasFocus: affirmPasswordFocus, disable: submitRequest">
                                <div class="v-val">
                                    <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <div class="login-flex btn-flex">
                                    <div class="v-btn v-login" type="submit" data-bind="command: submitCommand">
                                        <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_SAVE"></span>
                                    </div>
                                    <div class="v-btn v-regist" data-bind="click: gotoRegisterCommand">
                                        <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_REGIST"></span>
                                    </div>
                                    <div class="v-btn v-regist" data-bind="click: gotoLogin">
                                        <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_LOGIN"></span>
                                    </div>
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                <div class="v-tag" style="width: 0;">
        
                                </div>
                            </div>
        
                            <div class="vertical-view">
                                  <div class="QR-code" data-bind="click: gotoQRcode">
                                        <img class="scan-qrcode" data-bind="attr: {'src': srcAttrQc()}">
                                        <span class="i18nflex" data-i18n="FINDPASSWORD/LABEL_QRCODE_SCAN"></span>
                                  </div>
                            </div>
        
                        </form>
                    </div>
                </center>
          </div>
          <div class="v-right-sidebar">
            <div class="top-mobile">
                <img data-bind="attr: {'src': srcAttrIos()}">
                <div class="line-top"></div>
                <img data-bind="attr: {'src': srcAttrAndd()}">
                <span class="i18nflex">ᠭᠠᠷ ᠤᠲᠠᠰᠤᠨ ᠤ ᠬᠤᠪᠢᠯᠪᠤᠷᠢ</span>
            </div>
            <div class="bottom-mess">
                <div class="">
                    <img data-bind="attr: {'src': srcAttrHs()}">
                    <span class="i18nflex">ᠮᠡᠷᠭᠡᠵᠢᠯ ᠦᠨ ᠰᠠᠨᠠᠭᠤᠯᠭ᠎ᠠ</span>
                </div>
                <div class="">
                    <img data-bind="attr: {'src': srcAttrCl()}">
                    <span class="i18nflex"> ᠬᠠᠯᠠᠭᠠᠢ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠬᠠᠷᠢᠭᠤᠴᠠᠯᠭᠠᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ</span>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>