<form class="forgotpw_box">
	<div class="error">
		<span><ul class="errors">
			<li>
				<strong></strong>：ᠬᠡᠷᠡᠭᠯᠡᠭᠴᠢ ᠶᠢᠨ ᠬᠠᠶᠠᠭ ᠬᠦᠴᠦᠨ ᠦᠭᠡᠢ᠃ <a ></a>
		</li>
	</ul>
</span>
	</div>
    <h2 class="mongol_regist" data-i18n="FINDPASSWORD/FIND_FORGOP_NAME" ></h2>
					<div class="mgl_row_sow" style="display: flex;">
						<div class="span4 sp4-mgl">
							<div class="control-group reg-mgl">
								<div class="controls padvs-cons mogl_padcs">
									<input class="uiInput inputFrom input-mgl mgol_pass" data-i18n="[placeholder]FINDPASSWORD/FIND_FORGOTP" />
									<!-- <input type="submit" class="input_btn_orange" name="login" id="login" value=" ᠨᠡᠪᠲᠡᠷᠡᠨ ᠣᠷᠤᠬᠤ »"> -->
            <!-- <img data-bind="attr: {'src': srcAttrEmail()}" class="right mogl_email"> -->
								</div>
								<button class="forgotpw_butto" data-i18n="FINDPASSWORD/FIND_FORGO_BU"  data-bind="click: gotoVerifyPhoneNumber"></button>
							</div>
						</div>
                    </div>
</form>
