<div class="m-login-content m-view">
      <div class="m-head-view">
            <div class="logo-view">
                  <span class="l-img">
                        <svg class="hsvg-icon h-icon c-logo" aria-hidden="true">
                              <use xlink:href="#iconapple"></use>
                        </svg>
                  </span>
            </div>
      </div>
      <div class="m-middle-view">
            <div class="m-vertical-view"><
                  <div class="alert alert Error" data-bind="visibleAnimated: '' !== submitError()">
                        <button type="button" class="close"
                            data-bind="click: function () { submitError('') }">&times;</button>
                        <span data-bind="text: submitError"></span>
                        <div data-bind="visible: '' !== submitErrorAddidional()">
                            <br />
                            <span data-bind="text: submitErrorAddidional"></span>
                        </div>
                  </div>/div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <div class="m-btn-group">
                        <button class=""></button>
                        <button class=""></button>
                        <button class=""></button>
                  </div>
            </div>
      </div>
      <div class="m-footer-view">
            <div class="social-view">
                  <div class="s-logo-view">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconapple"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconwechat"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconrenew"></use>
                        </svg>
                  </div>
            </div>
      </div>
</div>