<div class="b-login-content m-view">
      <div class="m-head-view">
            <div class="top-menu"></div>
            <div class="logo-view">
                  <div class="c-logo">
                        <p class="i18nflex" data-i18n="FINDPASSWORD/LABEL_TITLE"></p>
                  </div>
            </div>
      </div>
      <div class="m-middle-view m-view-box">
            <div class="vertical-view er-view">
                  <div class="alert alert Error" data-bind="visibleAnimated: '' !== submitError()">
                        <button type="button" class="close"
                            data-bind="click: function () { submitError('') }">&times;</button>
                        <span data-bind="text: submitError"></span>
                        <div data-bind="visible: '' !== submitErrorAddidional()">
                            <br />
                            <span data-bind="text: submitErrorAddidional"></span>
                        </div>
                  </div>
            </div>
            <div class="vertical-view r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconemail"></use>
                    </svg>
                    <input type="email" class="m-input checkAutocomplete" data-i18n="[placeholder]FINDPASSWORD/LABEL_EMAIL"
                        autocomplete="email"
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="false"
                        data-bind="textInput: email, hasFocuns: emailFocus, disable: submitRequest">
            </div>
            <div class="vertical-view r-line">
                  <svg class="hsvg-icon h-icon ipt-icon m-sms-icon" aria-hidden="true">
                        <use xlink:href="#iconphone-01"></use>
                  </svg>
                  <input type="text" class="m-input m-sms-input checkAutocomplete" data-i18n="[placeholder]FINDPASSWORD/LABEL_PHONE_AUTH_CODE"
                        data-bind="textInput: cellPhoneVerificationCode, hasFocus: cellPhoneVerificationCodeFocus, disable: submitRequest">
                  <button class="m-btn m-sms-btn" id="smsCode" type="submit" data-bind="command: getCodeCommand">
                        <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_SMSCODE"></span>
                  </button>
            </div>
            <div class="vertical-view r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconkey"></use>
                    </svg>
                    <input type="password" class="m-input checkAutocomplete" data-i18n="[placeholder]FINDPASSWORD/LABEL_PASSWORD_FORMAT"
                        data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest">
            </div>
            <div class="vertical-view r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconkey"></use>
                    </svg>
                    <input type="password" class="m-input checkAutocomplete" data-i18n="[placeholder]FINDPASSWORD/LABEL_CONFIRM_PASSWOD_FORMAT"
                        data-bind="textInput: affirmPassword, hasFocus: affirmPasswordFocus, disable: submitRequest">
            </div>
            <div class="vertical-view">
                  <div class="m-btn-group">
                        <button class="m-btn v-login" type="submit" data-bind="command: submitCommand">
                              <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_SAVE"></span>
                        </button>
                        <button class="m-btn v-regist" data-bind="click: gotoLogin">
                              <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_LOGIN"></span>
                        </button>
                        <button class="m-btn v-login" data-bind="click: gotoRegisterCommand">
                              <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_REGIST"></span>
                        </button>
                  </div>
            </div>
      </div>
      <div class="m-footer-view">
            <div class="social-view">
                  <div class="s-logo-view rs-logo-view s-logo-bdb">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconapple"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view rs-logo-view s-logo-bdg">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconwechat"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view rs-logo-view s-logo-bdf">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconrenew"></use>
                        </svg>
                  </div>
            </div>
      </div>
</div>