<!-- <div class="rl-view-model RL-Register"> -->
<div class="b-login-content">
    <div class="loginFormWrapper">
        <center class="plugin-mark-Login-BeforeLogo">

            <div class="wrapper-parent login-flex">

                <div class="alert alertError" data-bind="visibleAnimated: '' !== submitError()">
                    <button type="button" class="close" data-bind="click: function () { submitError('') }">
                        &times;
                    </button>
                    <span data-bind="text: submitError"></span>
                    <div data-bind="visible: '' !== submitErrorAddidional()">
                        <br />
                        <span id="email_error" data-bind="text: submitErrorAddidional"></span>
                    </div>
                </div>

                <form class="wrapper submitting-pane loginForm thm-login thm-login-text" action="#/"
                    data-bind="submit: submitForm, css: {'errorAnimated': formError, 'submitting': submitRequest()},">
                    <div class="login-flex">

                        <div class="controls ctrl-m">
                            <h3 class="label-h3" data-i18n="FINDPASSWORD/LABEL_FINDPWD"></h3>
                        </div>

                        <div class="controls plugin-mark-Login-TopControlGroup ctrl-m">
                            <div class="input-append-mongol">
                                <input type="email" class="i18n input-block-level inputEmail checkAutocomplete"
                                    autocomplete="email" autocorrect="off" autocapitalize="off" spellcheck="false"
                                    data-bind="textInput: email, hasFocuns: emailFocus, disable: submitRequest"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_EMAIL">
                            </div>
                        </div>

                        <div class="controls plugin-mark-Login-TopControlGroup ctrl-m">
                            <div class="input-append-mongol">
                                <input type="text" minlength="4" maxlength="6"
                                    class="i18n input-block-level inputEmail checkAutocomplete login-sms"
                                    data-bind="textInput: cellPhoneVerificationCode, hasFocus: cellPhoneVerificationCodeFocus, disable: submitRequest"
                                    data-i18n="[placeholder]REGISTER/LABEL_CELLPHONE_VERIFICATION_CODE">
                                <button class="btn btn-large buttonLogin mgl_btn" id="smsCode" type="submit"
                                    data-bind="command: getCodeCommand">
                                    <span class="vertical-label"
                                        data-i18n="REGISTER/LABEL_GAIN_CELLPHONE_VERIFICATION_CODE">
                                    </span>
                                </button>
                            </div>
                        </div>

                        <div class="controls plugin-mark-Login-TopControlGroup ctrl-m">
                            <div class="input-append-mongol">
                                <input type="password" class="i18n input-block-level inputPassword checkAutocomplete"
                                    data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_PASSWOD_FORMAT">
                                <img data-bind="attr: {'src': srcAttrPassword( )}" class="right">
                            </div>
                        </div>
                        <div class="controls plugin-mark-Login-TopControlGroup ctrl-m">
                            <div class="input-append-mongol">
                                <input type="password" class="i18n input-block-level inputPassword checkAutocomplete"
                                    data-bind="textInput: affirmPassword, hasFocus: affirmPasswordFocus, disable: submitRequest"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_CONFIRM_PASSWOD_FORMAT">
                                <img data-bind="attr: {'src': srcAttrPassword( )}" class="right">
                            </div>
                        </div>

                        <div class="controls register-subminbutton-site ctrl-m">
                            <div class="input-append-mongol">
                                <button type="submit" data-bind="command: submitCommand"
                                    class="btn btn-large buttonLogin mgl_btn">
                                    <span class="vertical-label" data-i18n="FINDPASSWORD/BUTTON_SAVE"
                                        id="registe"></span>
                                </button>
                            </div>
                        </div>

                        <div class="controls ctrl-m i18nflex a-tag-box">

                            <a class="label-a-tag" target="_blank" data-i18n="LOGIN/LABEL_REGISTRATION"
                                data-bind="click: gotoRegisterCommand">
                            </a>

                            <a class="label-a-tag" data-bind="click: gotoVipPackage"><img
                                    data-bind="attr: {'src': srcAttrVip( )}" style="width: 25px;">
                            </a>

                            <a class="label-a-tag" target="_blank" data-i18n="REGISTER/LABEL_LOGIN_ACCOUNT"
                                data-bind="click: gotoLogin">
                            </a>

                        </div>
                    </div>
                </form>
            </div>
        </center>
    </div>
</div>
<!-- </div> -->