<div class="b-login-content m-view">
      <div class="m-head-view">
            <div class="top-menu"></div>
            <div class="logo-view">
                  <div class="c-logo">
                        <p class="i18nflex" data-i18n="FINDPASSWORD/LABEL_TITLE"></p>
                  </div>
            </div>
      </div>
      <div class="m-middle-view m-find-view-box">
            <div class="v-find-items">
                  <div class="vertical-view err-view">
                        <div class="alert alert Error m-alert" data-bind="visibleAnimated: '' !== submitError()">
                              <button type="button" class="close"
                                    data-bind="click: function () { submitError('') }">&times;</button>
                              <span class="i18nflex" data-bind="text: submitError"></span>
                              <div data-bind="visible: '' !== submitErrorAddidional()">
                                    <br />
                                    <span data-bind="text: submitErrorAddidional"></span>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="v-find-items">
                  <div class="m-face-input r-line">
                        <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                              <use xlink:href="#iconemail"></use>
                        </svg>
                        <div class="vertical-view">
                              <input type="email" class="m-input checkAutocomplete"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_EMAIL" maxlength="33" autocorrect="off"
                                    autocapitalize="off" spellcheck="false"
                                    data-bind="textInput: email, hasFocuns: emailFocus, disable: submitRequest">
                        </div>
                  </div>
            </div>
            <div class="v-find-items">
                  <div class="m-face-input r-line">
                        <svg class="hsvg-icon h-icon ipt-icon m-sms-icon" aria-hidden="true">
                              <use xlink:href="#iconphone-01"></use>
                        </svg>
                        <div class="vertical-view">
                              <input type="text" class="m-input m-sms-input checkAutocomplete"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_AUTH_CODE" autocorrect="off"
                                    autocapitalize="off" spellcheck="false"
                                    data-bind="textInput: smsCode, hasFocus: smsCodeFocus, disable: submitRequest">
                        </div>
                        <button class="m-btn m-sms-btn" id="smsCode" data-bind="command: smsCodeCommand">
                              <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_SMS_CODE"></span>
                        </button>
                  </div>
            </div>
            <div class="v-find-items">
                  <div class="m-face-input r-line">
                        <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                              <use xlink:href="#iconkey"></use>
                        </svg>
                        <div class="vertical-view">
                              <input type="password" class="m-input checkAutocomplete"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_PASSWORD_FORMAT" autocorrect="off"
                                    autocapitalize="off" spellcheck="false"
                                    data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest">
                        </div>
                  </div>
            </div>
            <div class="v-find-items">
                  <div class="m-face-input r-line">
                        <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                              <use xlink:href="#iconkey"></use>
                        </svg>
                        <div class="vertical-view">
                              <input type="password" class="m-input checkAutocomplete"
                                    data-i18n="[placeholder]FINDPASSWORD/LABEL_CONFIRM_PASSWOD_FORMAT" autocorrect="off"
                                    autocapitalize="off" spellcheck="false"
                                    data-bind="textInput: confPwd, hasFocus: confPwdFocus, disable: submitRequest">
                        </div>
                  </div>
            </div>
            <div class="v-find-items">
                  <div class="vertical-view">
                        <div class="m-btn-group">
                              <button class="m-btn v-login" data-bind="command: submitCommand">
                                    <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_SAVE"></span>
                              </button>
                              <button class="m-btn v-regist" data-bind="click: gotoLogin">
                                    <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_LOGIN"></span>
                              </button>
                              <button class="m-btn v-login" data-bind="click: gotoRegisterCommand">
                                    <span class="i18nflex" data-i18n="FINDPASSWORD/BUTTON_REGIST"></span>
                              </button>
                        </div>
                  </div>
            </div>
      </div>
      <div class="m-footer-view">
            <div class="social-view">
                  <div class="s-logo-view rs-logo-view s-logo-bdb">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconapple"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view rs-logo-view s-logo-bdg">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconwechat"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view rs-logo-view s-logo-bdf">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconrenew"></use>
                        </svg>
                  </div>
            </div>
      </div>
</div>