<div class="top-mobile">
    <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
        <use xlink:href="#iconapple"></use>
    </svg>
    <div class="line-top"></div>
    <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
        <use xlink:href="#iconandroid"></use>
    </svg>
    <span class="i18nflex" data-i18n="FOOTER/LAVEL_MOBILE_VERSION"></span>
</div>
<div class="bottom-mess">
    <div class="">
        <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
            <use xlink:href="#icontech-01"></use>
        </svg>
        <span class="i18nflex" data-i18n="FOOTER/LAVEL_SYSTEM_HELP"></span>
    </div>
    <div class="">
        <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
            <use xlink:href="#iconcompny_group"></use>
        </svg>
        <span class="i18nflex" data-i18n="FOOTER/LAVEL_HALGAI_COMMPANY"></span>
    </div>
</div>
