<div class="top-mobile">
    <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
        <use xlink:href="#iconapple"></use>
    </svg>
    <div class="line-top"></div>
    <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
        <use xlink:href="#iconandroid"></use>
    </svg>
    <span class="i18nflex" data-i18n="FOOTER/LABEL_MOBILE_VERSION"></span>
</div>
<div class="bottom-mess">
    <div class="pop-page">
        <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
            <use xlink:href="#icontech-01"></use>
        </svg>
        <span class="i18nflex" data-i18n="FOOTER/LABEL_SYSTEM_HELP"></span>
        <div class="hover-page">
            <span>
                ooooooo
            </span>
        </div>
    </div>
    <div class="">
        <svg class="hsvg-icon h-icon sidebar-icon" aria-hidden="true">
            <use xlink:href="#iconcompny_group"></use>
        </svg>
        <span class="i18nflex">
            <a style="color: #bcbcbc;" data-i18n="FOOTER/LABEL_HALGAI_COMMPANY" href="https://halgai.com"
                target="_blank"></a>
        </span>
    </div>
</div>