<div class="b-login-content">
    
        <div class="e-view">
            <div class="e-left-view">
                
            </div>
            <div class="e-right-view">
                <div class="e-lang-select">
                    <div class="mailtype mgl" id="lang-mn">
                        <span class="option-mgl" data-bind="click: switchTabCommand">ᠮᠤᠩᠭᠤᠯ ᠬᠡᠯᠡ</span>								
                    </div>
                    <div class="mailtype zh-cn" id="lang-cn">
                        <span class="option-cn" data-bind="click: switchTabCommand">中 文</span>
                    </div>
                </div>
                <div class="loginFormWrapper r-FormWrapper" data-bind="css: {'afterLoginHide': formHidden}">
                    <center class="plugin-mark-Login-BeforeLogo">
                          {{INCLUDE/BeforeLogo/PLACE}}
                          <!-- ko if: logoImg -->
                          <div class="logoWrapper plugin-mark-Login-AfterLogo">
                              <img class="logoImg" data-bind="attr: {'src': logoImg }" />
                          </div>
                          <!-- /ko -->
                          <div class="descWrapper thm-login-desc plugin-mark-Login-AfterLogoDescription"
                              data-bind="visible: '' !== loginDescription">
                              <span class="desc" data-bind="text: loginDescription"></span>
                          </div>
                          {{INCLUDE/AfterLogo/PLACE}}
          
                          <div class="wrapper-parent login-flex">
          
                                <form class="wrapper loginForm login-flex" action="#/"
                                      data-bind="submit: submitForm,
                                          css: {
                                              'errorAnimated': formError,
                                              'welcome-off': welcome,
                                              'submitting': submitRequest()
                                          }">
          
                                      <div class="vertical-view">
                                          <div class="alert alert Error" data-bind="visibleAnimated: '' !== submitError()">
                                              <button type="button" class="close"
                                                  data-bind="click: function () { submitError('') }">&times;</button>
                                              <span data-bind="text: submitError"></span>
                                              <div data-bind="visible: '' !== submitErrorAddidional()">
                                                  <br />
                                                  <span data-bind="text: submitErrorAddidional"></span>
                                              </div>
                                          </div>
                                      </div>
          
                                      <div class="vertical-view">
                                            <img class="ipt-img" data-bind="attr: {'src': srcAttrEmail()}">
                                            <input type="email" class="v-input" data-i18n="[placeholder]LOGIN/LABEL_EMAIL"
                                              maxlength="20"
                                              name="RainLoopEmail"
                                              id="RainLoopEmail"
                                              autocomplete="email"
                                              autocorrect="off"
                                              autocapitalize="off"
                                              spellcheck="false"
                                              data-bind="textInput: email, hasFocus: emailFocus, disable: submitRequest">
                                            <div class="v-val">
                                                  <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                            </div>
                                      </div>
          
                                      <div class="vertical-view">
                                          <img class="ipt-img" data-bind="attr: {'src': srcAttrLock()}">
                                            <input type="password" class="v-input" data-i18n="[placeholder]LOGIN/LABEL_PASSWORD"
                                              maxlength="20"
                                              name="RainLoopPassword"
                                              id="RainLoopPassword"
                                              autocomplete="current-password"
                                              autocorrect="off"
                                              autocapitalize="off"
                                              spellcheck="false"
                                              data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest">
                                            <div class="v-val">
                                                  <span class="val-text">ᠬᠠᠶᠢᠭ ᠢᠶᠠᠨ ᠪᠤᠷᠤᠭᠤ ᠪᠢᠴᠢᠪᠡ</span>
                                            </div>
                                      </div>
          
                                      <div class="vertical-view">
                                            <div class="login-flex">
                                                  <div class="v-btn v-login" type="submit" data-bind="command: submitCommand">
                                                      <span class="i18nflex" data-i18n="LOGIN/BUTTON_SIGN_IN"></span>
                                                  </div>
                                                  <div class="v-btn v-regist" data-bind="click: gotoRegisterCommand">
                                                      <span class="i18nflex" data-i18n="LOGIN/LABEL_REGISTRATION"></span>
                                                  </div>
                                                  <div class="v-btn v-members" data-bind="click: gotoVipPackage">
                                                      <span class="i18nflex" data-i18n="LOGIN/LABEL_VIP_MEMBERS"></span>
                                                  </div>
                                            </div>
                                      </div>
          
                                      <div class="vertical-view">
                                            <div class="v-tag">
                                                <div class="signMeLabel" data-bind="visible: signMeVisibility, 
                                                    component: {
                                                        name: 'CheckboxSimple',
                                                        params: {
                                                            label: 'LOGIN/LABEL_SIGN_ME',
                                                            labelAnimated: true,
                                                            value: signMe
                                                        }
                                                    }">
                                                </div>
                                                  <a class="forgot-ac i18nflex" href="" data-i18n="LOGIN/LABEL_FORGOT_PASSWORD"
                                                      data-bind="click: gotoFindPassword" target="_blank"></a>
                                            </div>
                                      </div>
          
                                      <div class="vertical-view">
                                            <div class="QR-code" data-bind="click: gotoQRcode">
                                                  <img class="scan-qrcode" data-bind="attr: {'src': srcAttrQc()}">
                                                  <span class="i18nflex" data-i18n="LOGIN/LABEL_QRCODE_SCAN"></span>
                                            </div>
                                      </div>
          
                                </form>

                          </div>

                    </center>
              </div>
              <div class="v-right-sidebar">
                <div class="top-mobile">
                    <img data-bind="attr: {'src': srcAttrIos()}">
                    <div class="line-top"></div>
                    <img data-bind="attr: {'src': srcAttrAndd()}">
                    <span class="i18nflex">ᠭᠠᠷ ᠤᠲᠠᠰᠤᠨ ᠤ ᠬᠤᠪᠢᠯᠪᠤᠷᠢ</span>
                </div>
                <div class="bottom-mess">
                    <div class="">
                        <img data-bind="attr: {'src': srcAttrHs()}">
                        <span class="i18nflex">ᠮᠡᠷᠭᠡᠵᠢᠯ ᠦᠨ ᠰᠠᠨᠠᠭᠤᠯᠭ᠎ᠠ</span>
                    </div>
                    <div class="">
                        <img data-bind="attr: {'src': srcAttrCl()}">
                        <span class="i18nflex"> ᠬᠠᠯᠠᠭᠠᠢ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠬᠠᠷᠢᠭᠤᠴᠠᠯᠭᠠᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ</span>
                    </div>
                </div>
              </div>
            </div>
        </div>

    <a href="#" onclick="return false;"></a>
    <div class="loginAfter"></div>
</div>