<div class="b-login-content m-view m-login-view">
      <div class="m-head-view">
            <div class="top-menu"></div>
            <div class="logo-view">
                  <svg class="hsvg-icon h-icon c-logo" aria-hidden="true">
                        <use xlink:href="#iconapple"></use>
                  </svg>
            </div>
      </div>
      <div class="m-middle-view m-view-box">
            <div class="vertical-view err-view">
                  <div class="alert alert Error m-alert" data-bind="visibleAnimated: '' !== submitError()">
                        <button type="button" class="close"
                            data-bind="click: function () { submitError('') }">&times;</button>
                        <span data-bind="text: submitError"></span>
                        <div data-bind="visible: '' !== submitErrorAddidional()">
                            <br />
                            <span data-bind="text: submitErrorAddidional"></span>
                        </div>
                  </div>
            </div>
            <div class="vertical-view lr-line">
                  <svg class="hsvg-icon h-icon ipt-icon login-ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconemail"></use>
                  </svg>
                  <input type="email" class="m-input lm-input checkAutocomplete" data-i18n="[placeholder]LOGIN/LABEL_EMAIL"
                  maxlength="20"
                  autocomplete="email"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  data-bind="textInput: email, hasFocus: emailFocus, disable: submitRequest">
            </div>
            <div class="vertical-view lr-line">
                  <svg class="hsvg-icon h-icon ipt-icon login-ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconkey"></use>
                  </svg>
                  <input type="password" class="m-input lm-input checkAutocomplete" data-i18n="[placeholder]LOGIN/LABEL_PASSWORD"
                  maxlength="20"
                  autocomplete="current-password"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest">
            </div>
            <div class="vertical-view">
                  <div class="m-btn-group">
                        <button class="m-btn v-regist" data-bind="command: submitCommand">
                              <span class="i18nflex" data-i18n="LOGIN/BUTTON_SIGN_IN"></span>
                        </button>
                        <button class="m-btn v-login" style="border: 1px solid;" data-bind="click: gotoRegisterCommand">
                              <span class="i18nflex" data-i18n="LOGIN/M_LABEL_REGISTRATION"></span>
                        </button>
                        <button class="m-btn v-members m-vip" data-bind="click: gotoVipPackage">
                              <span class="" data-i18n="LOGIN/M_LABEL_VIP_MEMBERS"></span>
                        </button>
                  </div>
            </div>
            <div class="vertical-view m-text">
                  <p class="i18nflex"  data-bind="click: gotoFindPassword" data-i18n="LOGIN/LABEL_FORGOT_PASSWORD"></p>
            </div>
      </div>
      <div class="m-footer-view">

            <div class="social-view">
                  <div class="s-logo-view">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconapple"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconwechat"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconrenew"></use>
                        </svg>
                  </div>
            </div>

      </div>
</div>