<div class="b-login-content">

    <div class="e-view">
        <div class="e-left-view lg-view">
            <div class="ls-view">
                <img class="l-Img" data-bind="attr: {'src': leftWall()}">
            </div>
        </div>
        <div class="e-right-view login-flex">
            <div class="s-language"
                data-bind="visible: allowLanguagesOnLogin() && !socialLoginEnabled(), click: selectLanguage, tooltip: 'POPUPS_LANGUAGES/TITLE_LANGUAGES'">
                <svg class="hsvg-icon h-icon l-icon" aria-hidden="true">
                    <use xlink:href="#iconlan-earth"></use>
                </svg>
                <span class="i18nflex" data-bind="text: languageFullName"></span>
                <svg class="hsvg-icon h-icon sub-arr-icon" aria-hidden="true">
                    <use xlink:href="#iconlan-arrow"></use>
                </svg>
            </div>

            <div class="loginFormWrapper r-FormWrapper" data-bind="css: {'afterLoginHide': formHidden}">
                <center class="plugin-mark-Login-BeforeLogo">

                    <div class="wrapper-parent" data-bind="css: {'welcome-on': welcome}">

                        <form class="wrapper submitting-pane loginForm login-flex" action="#/" autocorrect="off"
                            autocapitalize="off" spellcheck="false" data-bind="submit: submitForm,
                                css: {
                                    'errorAnimated': formError,
                                    'welcome-off': welcome,
                                    'submitting': submitRequest()
                                }">

                            <div class="err-view">
                                <div class="alert alert Error i18nflex"
                                    data-bind="visibleAnimated: '' !== submitError()">
                                    <span data-bind="text: submitError"></span>
                                    <div data-bind="visible: '' !== submitErrorAddidional()">
                                        <br />
                                        <span data-bind="text: submitErrorAddidional"></span>
                                    </div>
                                    <button type="button" class="close"
                                        data-bind="click: function () { submitError('') }">&times;</button>
                                </div>
                            </div>

                            <div class="face-input" data-bind="css: {'error': emailErr, 'animated': emailErrAmt }">
                                <svg class="hsvg-icon h-icon ipt-img mail-icon" aria-hidden="true">
                                    <use xlink:href="#iconemail"></use>
                                </svg>
                                <div class="vertical-view">
                                    <input type="email" class="v-input checkAutocomplete"
                                        data-i18n="[placeholder]LOGIN/LABEL_EMAIL" maxlength="33" autocorrect="off"
                                        autocapitalize="off" spellcheck="false"
                                        data-bind="textInput: email, hasFocus: emailFocus, event: { blur: emailBlur }, disable: submitRequest">
                                </div>
                            </div>

                            <div class="face-input"
                                data-bind="css: {'error': passwordErr, 'animated': passwordErrAmt }">
                                <svg class="hsvg-icon h-icon ipt-img" aria-hidden="true">
                                    <use xlink:href="#iconkey"></use>
                                </svg>

                                <div class="vertical-view">
                                    <input class="v-input checkAutocomplete"
                                        data-i18n="[placeholder]LOGIN/LABEL_PASSWORD" maxlength="20" autocorrect="off"
                                        autocapitalize="off" spellcheck="false"
                                        data-bind="textInput: password, hasFocus: passwordFocus, event: { blur: pwdBlur }, disable: submitRequest, attr:{ type: inputType }">
                                </div>
                                <svg data-bind="click: isShowPw" class="hsvg-icon h-icon show-pw" aria-hidden="true">
                                    <use data-bind="visible: inputType() != 'text'" xlink:href="#iconeye01"></use>
                                    <use data-bind="visible: inputType() != 'password'" xlink:href="#iconeye02">
                                    </use>
                                </svg>

                                <span style="display: none;" class="add-on" tabindex="-1" data-tooltip-join="left"
                                    data-bind="command: submitCommand, tooltip: ''">
                                    <button type="submit" class="btn-submit-icon-wrp"
                                        data-bind="visible: '' !== password()">
                                        <i class="icon-right-middle login-submit-icon"></i>
                                    </button>
                                </span>
                            </div>

                            <div class="btn-flex">
                                <div class="v-btn v-login" data-bind="command: submitCommand">
                                    <span class="i18nflex" data-i18n="LOGIN/BUTTON_SIGN_IN"></span>
                                </div>
                                <div class="v-btn v-regist" data-bind="click: gotoRegisterCommand">
                                    <span class="i18nflex" data-i18n="LOGIN/LABEL_REGISTRATION"></span>
                                </div>
                                <div class="v-btn v-members" data-bind="click: gotoVipPackage">
                                    <span class="i18nflex" data-i18n="LOGIN/LABEL_VIP_MEMBERS"></span>
                                </div>
                            </div>

                            <div class="vertical-view">
                                <div class="v-tag">
                                    <div class="signMeLabel" data-bind="visible: signMeVisibility,
                                        component: {
                                            name: 'CheckboxSimple',
                                            params: {
                                                label: 'LOGIN/LABEL_SIGN_ME',
                                                labelAnimated: true,
                                                value: signMe
                                            }
                                        }">
                                    </div>
                                    <a class="forgot-ac i18nflex" href="" data-i18n="LOGIN/LABEL_FORGOT_PASSWORD"
                                        data-bind="click: gotoFindPassword" target="_blank"></a>
                                </div>
                            </div>

                            <div class="vertical-view">
                                <div class="QR-code" data-bind="click: gotoQRcode">
                                    <svg class="hsvg-icon h-icon" aria-hidden="true">
                                        <use xlink:href="#iconwechatqr"></use>
                                    </svg>
                                    <span class="i18nflex" data-i18n="LOGIN/LABEL_QRCODE_SCAN"></span>
                                </div>
                            </div>

                        </form>

                    </div>

                </center>
            </div>
            <div class="v-right-sidebar" data-bind="template: {name: 'Footer'}"></div>
        </div>
    </div>

    <a href="#" onclick="return false;"></a>
    <div class="loginAfter"></div>
</div>