<div class="mgl_box">
  <h2 class="mgl_h" data-i18n="PACKAGE/PACKAGE_NAME"></h2>

              <div>
                  <div>
                      <input class="mongol_input" data-i18n="[placeholder]PACKAGE/PACKAGE_INPUT1" autocomplete="off" maxlength="6" type="text">
                  </div>
                  <button class="mongol_code1">
                      <span data-i18n="PACKAGE/PACKAGE_CODE1"></span>
                  </button>
              </div>  
          </div>
      </form>
  </div>
  <a data-bind="click: gotoSetPwPhoneNumber">
      <button class="monglo_button1" data-i18n="PACKAGE/PACKAGE_BUTTON1"></button>
  </a>
  <div style="color: lightsteelblue;">      
  </div>   
</div>
</div>