<div class="popups">
    <div class="modal hide b-folder-create-content g-ui-user-select-none" data-bind="modal: modalVisibility">
        <div class="modal-flex">
            <div class="modal-header">

                <h3>
                    <span class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/TITLE_USR_CMPL"></span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal view-flex">

                    <div class="v-items">
                        <div class="pop-label pop-label-iden">
                            <span class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/LABEL_USR_NAME"></span>
                        </div>
                        <div class="vertical-view">
                            <input type="text" class="uiInput inputName input-mgl" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="false"
                                data-bind="textInput: usrName, hasfocus: usrNameFocus" />
                        </div>
                    </div>

                    <div class="v-items">
                        <div class="pop-label pop-label-iden">
                            <span class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/LABEL_USR_SEX"></span>
                        </div>
                        <div class="vertical-view">
                            <div class="selectBox dropdownlist selectBox-dropdown" data-bind="component: {
									name: 'Select',
									params: {
										options: usrSex,
										value: usrSexValue,
										optionsText: 'name',
										optionsValue: 'id',
										lg: 'mn',
										pid: 'Pid12'
									}
								}">
                            </div>
                        </div>
                    </div>

                    <div class="v-items">
                        <div class="pop-label pop-label-iden">
                            <span class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/LABEL_USR_HTOWN"></span>
                        </div>
                        <div class="vertical-view">
                            <input type="text" class="uiInput inputName input-mgl" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="false"
                                data-bind="textInput: usrHtown, hasfocus: usrHtownFocus" />
                        </div>
                    </div>

                    <div class="v-items">
                        <div class="pop-label pop-label-iden">
                            <span class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/LABEL_USR_NTOWN"></span>
                        </div>
                        <div class="vertical-view">
                            <div class="selectBox dropdownlist selectBox-dropdown" data-bind="component: {
									name: 'Select',
									params: {
										options: usrNtown,
										value: usrNtownValue,
										optionsText: 'name',
										optionsValue: 'id',
										lg: 'mn',
										pid: 'Pid13'
									}
								}">
                            </div>
                        </div>
                    </div>

                    <div class="v-items">
                        <div class="pop-label pop-label-iden">
                            <span class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/LABEL_USR_ICARD"></span>
                        </div>
                        <div class="vertical-view">
                            <input type="text" class="uiInput inputName input-mgl" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="false"
                                data-bind="textInput: usrCard, hasfocus: usrCardFocus" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer md-grid">
                <div>
                    <button type="button" class="close v-close" data-bind="command: cancelCommand">&times;</button>
                </div>
                <div class="btn-bottom">
                    <button class="btn buttonCreate" data-bind="command: cancelCommand">
                        <div class="i18n i18nflex" data-i18n="POPUPS_USR_CMPL/BUTTON_SAVE"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>