<div class="popups">
	<div class="modal hide b-identity-content" data-bind="modal: modalVisibility">
		<div class="modal-flex">
			<div class="modal-header g-ui-user-select-none">

				<h3 class="i18nflex">
					<span data-bind="visible: !edit()" class="i18n"
						data-i18n="POPUPS_IDENTITY/TITLE_ADD_IDENTITY"></span>
					<span data-bind="visible: edit" class="i18n"
						data-i18n="POPUPS_IDENTITY/TITLE_UPDATE_IDENTITY"></span>
				</h3>
			</div>
			<div class="modal-body">
				<div class="form-horizontal g-ui-user-select-none view-flex">

					<div class="alert" data-bind="visible: '' !== submitError()">
						<button type="button" class="close"
							data-bind="click: function () { submitError('') }">&times;</button>
						<span data-bind="text: submitError"></span>
					</div>

					<div class="v-items" data-bind="visible: !owner(), css: {'error': email.hasError}">
						<div class="pop-label pop-label-iden">
							<div class="i18n i18nflex" data-i18n="POPUPS_IDENTITY/LABEL_EMAIL"></div>
						</div>

						<div class="vertical-view">
							<input type="email" class="inputEmail input-mgl" autocomplete="off"
								autocorrect="off" autocapitalize="off" spellcheck="false"
								data-bind="value: email, onEnter: addOrEditIdentityCommand, hasfocus: email.focused" />
						</div>
					</div>

					<div class="v-items" data-bind="visible: owner">
						<div class="pop-label pop-label-iden">
							<div class="i18n i18nflex" data-i18n="POPUPS_IDENTITY/LABEL_EMAIL"></div>
						</div>

						<div class="vertical-view">
							<div class="textEmail" data-bind="text: email"></div>
						</div>
					</div>
					<div class="v-items">
						<div class="pop-label pop-label-iden">
							<div class="i18n i18nflex" data-i18n="POPUPS_IDENTITY/LABEL_NAME"></div>
						</div>

						<div class="vertical-view">
							<input type="text" class="inputName input-mgl" autocomplete="off"
								autocorrect="off" autocapitalize="off" spellcheck="false"
								data-bind="value: name, onEnter: addOrEditIdentityCommand, hasfocus: name.focused" />
						</div>
					</div>
					<div class="v-items" data-bind="visible: showReplyTo, css: {'error': replyTo.hasError}">
						<div class="pop-label pop-label-iden">
							<div class="i18n i18nflex" data-i18n="POPUPS_IDENTITY/LABEL_REPLY_TO"></div>
						</div>
						<div class="vertical-view">
							<input type="text" class="inputReplyTo input-mgl" autocomplete="off"
								autocorrect="off" autocapitalize="off" spellcheck="false"
								data-bind="value: replyTo, onEnter: addOrEditIdentityCommand, hasfocus: replyTo.focused" />
						</div>
					</div>
					<div class="v-items" data-bind="visible: showBcc, css: {'error': bcc.hasError}">
						<div class="pop-label pop-label-iden">
							<div class="i18n i18nflex" data-i18n="POPUPS_IDENTITY/LABEL_BCC"></div>
						</div>
						<div class="vertical-view">
							<input type="text" class="inputBcc input-mgl" autocomplete="off"
								autocorrect="off" autocapitalize="off" spellcheck="false"
								data-bind="value: bcc, onEnter: addOrEditIdentityCommand, hasfocus: bcc.focused" />
						</div>
					</div>
					<div class="v-items" data-bind="visible: !showReplyTo() || !showBcc()">
						<div class="vertical-view">
							<span data-bind="visible: !showReplyTo()">
								<span class="i18n i18nflex g-ui-link"
									data-i18n="POPUPS_IDENTITY/LABEL_REPLY_TO"
									data-bind="click: function () { showReplyTo(true); }"></span>
								&nbsp;&nbsp;
							</span>
							<span data-bind="visible: !showBcc()">
								<span class="i18n i18nflex g-ui-link"
									data-i18n="POPUPS_IDENTITY/LABEL_BCC"
									data-bind="click: function () { showBcc(true); }"></span>
							</span>
						</div>
					</div>

					<div class="v-items">
						<div class="vertical-view">
							<div data-bind="component: {
								name: 'Checkbox',
								params: {
									label: 'POPUPS_IDENTITY/LABEL_SIGNATURE_INSERT_BEFORE',
									value: signatureInsertBefore
								}
							}"></div>
						</div>
					</div>
				</div>


				<div class="e-signature-place" data-bind="editor: signature"></div>

			</div>
			<div class="modal-footer md-grid">
				<div>
					<button type="button" class="close v-close"
						data-bind="command: cancelCommand">&times;</button>
				</div>
				<div>
					<a class="btn buttonAddIdentity" data-bind="command: addOrEditIdentityCommand">
						<i
							data-bind="visible: !edit(), css: {'icon-user-add': !submitRequest(), 'icon-spinner animated': submitRequest()}"></i>
						<i
							data-bind="visible: edit, css: {'icon-ok': !submitRequest(), 'icon-spinner animated': submitRequest()}"></i>
						<div data-bind="visible: !edit()" class="i18n i18nflex"
							data-i18n="POPUPS_IDENTITY/BUTTON_ADD_IDENTITY"></div>
						<div data-bind="visible: edit" class="i18n i18nflex"
							data-i18n="POPUPS_IDENTITY/BUTTON_UPDATE_IDENTITY"></div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>