<div class="popups">
    <div class="modal hide b-folder-create-content g-ui-user-select-none" data-bind="modal: modalVisibility">
        <div class="modal-flex">
            <div class="modal-header">

                <h3>
                    <span class="i18n i18nflex" data-i18n="POPUPS_CHANGE_PASSWORD/TITLE_CHANGE_PASSWORD"></span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal modal-flex">

                    <div class="v-items">
                        <div class="pop-label pwd-label">
                            <div class="i18n i18nflex" data-i18n="POPUPS_CHANGE_PASSWORD/LABEL_NOW_PASSWORD"></div>
                        </div>
                        <div class="vertical-view">
                            <input type="text" class="uiInput inputName input-mgl" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="false"
                                data-bind="textInput: nowPwd, hasfocus: nowPwdFocus" />
                        </div>
                    </div>

                    <div class="v-items">
                        <div class="pop-label pwd-label">
                            <div class="i18n i18nflex" data-i18n="POPUPS_CHANGE_PASSWORD/LABEL_NEW_PASSWORD"></div>
                        </div>
                        <div class="vertical-view">
                            <input type="text" class="uiInput inputName input-mgl" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="false"
                                data-bind="textInput: newPwd, hasfocus: newPwdFocus" />
                        </div>
                    </div>

                    <div class="v-items">
                        <div class="pop-label pwd-label">
                            <div class="i18n i18nflex" data-i18n="POPUPS_CHANGE_PASSWORD/LABEL_DOUBLE_PASSWORD"></div>
                        </div>
                        <div class="vertical-view">
                            <input type="text" class="uiInput inputName input-mgl" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="false"
                                data-bind="textInput: confPwd, hasfocus: confPwdFocus" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer md-grid">
                <div>
                    <button type="button" class="close v-close" data-bind="command: cancelCommand">&times;</button>
                </div>
                <div class="btn-bottom">
                    <a class="btn buttonCreate" data-bind="command: submitCommand">
                        <i class="icon-floppy"></i>
                        <div class="i18n i18nflex" data-i18n="POPUPS_CHANGE_PASSWORD/BUTTON_SAVE"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>