<div class="popups">
	<div class="modal hide b-two-factor-test-content g-ui-user-select-none ptft-folder"
		data-bind="modal: modalVisibility">
		<div class="modal-flex ptft-flex">
			<div class="modal-header">

				<h3 class="i18nflex">
					<span class="i18n" data-i18n="POPUPS_TWO_FACTOR_TEST/TITLE_TEST_CODE"></span>
				</h3>
			</div>
			<div class="modal-body ptft-body">
				<div class="form-horizontal">
					<br />
					<div class="control-group ptft-group">
						<label class="control-label ptft-label">
							<span class="i18n i18nflex" data-i18n="POPUPS_TWO_FACTOR_TEST/LABEL_CODE"></span>
						</label>
						<div class="controls ptft-cons">
							<input type="text" class="uiInput inputName" autocomplete="off" autocorrect="off"
								autocapitalize="off" spellcheck="false"
								data-bind="textInput: code, hasfocus: code.focused, onEnter: testCodeCommand" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="close ptft-close" data-bind="command: cancelCommand">&times;</button>
				<a class="btn ptft-btn"
					data-bind="command: testCodeCommand, css: { 'btn-success': true === code.status(), 'btn-danger': false === code.status() }">
					<i
						data-bind="css: {'icon-ok': !testing(), 'icon-spinner animated': testing(), 'icon-white': true === code.status() || false === code.status() }"></i>
					&nbsp;&nbsp;
					<span class="i18n i18nflex" data-i18n="POPUPS_TWO_FACTOR_TEST/BUTTON_TEST"></span>
				</a>
			</div>
		</div>
	</div>
</div>