<div class="b-login-content">
    <div class="e-view">
        <div class="QR-view">

            <div class="loginFormWrapper fullFormWrapper QR-fm">
                <div class="wrapper loginForm QR-code-content">
                    <div class="vertical-view new-loginFunc">
                        <div id="triangle-topright">
                            <svg class="hsvg-icon h-icon r-pc" aria-hidden="true" data-bind="click: gotoLogin">
                                <use xlink:href="#iconcomputer"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="vertical-view QR-scan-view">
                        <div class="v-center-QR-code">
                            <svg class="hsvg-icon h-icon center-QR-code" aria-hidden="true">
                                <use xlink:href="#iconwechatqr"></use>
                            </svg>
                        </div>
                        <div class="v-center-text">
                            <span class="i18nflex" data-i18n="LOGIN/LABEL_QRCODE_TEXT"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="v-right-sidebar qr-text" data-bind="template: {name: 'Footer'}"></div>

        </div>
    </div>
</div>