<div class="b-login-content">
    <div class="e-view">
        <div class="QR-view">

            <div class="loginFormWrapper fullFormWrapper QR-fm">
                <div class="wrapper loginForm QR-code-content">
                    <div class="vertical-view new-loginFunc">
                        <div id="triangle-topright" data-bind="click: gotoLogin">
                            <svg class="hsvg-icon h-icon r-pc" aria-hidden="true">
                                <use xlink:href="#iconcomputer"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="vertical-view QR-scan-view">
                        <div class="v-center-QR-code">
                            <svg class="hsvg-icon h-icon center-QR-code" aria-hidden="true">
                                <use xlink:href="#iconwechatqr"></use>
                            </svg>
                        </div>
                        <div class="v-center-text">
                            <p class="i18nflex">ᠭᠠᠷ ᠤᠲᠠᠰᠤᠨ ᠤ ᠬᠤᠪᠢᠯᠪᠤᠷᠢ ᠮᠡᠷᠭᠡᠵᠢᠯ ᠦᠨ ᠰᠠᠨᠠᠭᠤᠯᠭ᠎ᠠ ᠬᠠᠯᠠᠭᠠᠢ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠬᠠᠷᠢᠭᠤᠴᠠᠯᠭᠠᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="v-right-sidebar qr-text">
                <div class="top-mobile">
                    <svg class="hsvg-icon h-icon" aria-hidden="true">
                        <use xlink:href="#iconapple"></use>
                    </svg>
                    <div class="line-top"></div>
                    <svg class="hsvg-icon h-icon" aria-hidden="true">
                        <use xlink:href="#iconandroid"></use>
                    </svg>
                    <span class="i18nflex">ᠭᠠᠷ ᠤᠲᠠᠰᠤᠨ ᠤ ᠬᠤᠪᠢᠯᠪᠤᠷᠢ</span>
                </div>
                <div class="bottom-mess">
                    <div class="">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                            <use xlink:href="#icontech-01"></use>
                        </svg>
                        <span class="i18nflex">ᠮᠡᠷᠭᠡᠵᠢᠯ ᠦᠨ ᠰᠠᠨᠠᠭᠤᠯᠭ᠎ᠠ</span>
                    </div>
                    <div class="">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                            <use xlink:href="#iconcompny_group"></use>
                        </svg>
                        <span class="i18nflex"> ᠬᠠᠯᠠᠭᠠᠢ ᠬᠢᠵᠠᠭᠠᠷᠲᠤ ᠬᠠᠷᠢᠭᠤᠴᠠᠯᠭᠠᠲᠤ ᠺᠣᠮᠫᠠᠨᠢ</span>
                    </div>
                </div>
              </div>

        </div>
    </div>        
</div>