<div class="regist_box">
    <h2 class="mongol_regist"> ᠪᠦᠷᠢᠳᠭᠡᠯ</h2>
    
    <div class="re-input">
    <input class="m_regist" type='text' placeholder=" ᠨᠡᠷ᠎ᠡ" >
    <span class="regist_halg">
        <i class="halg">@halgai.com</i>
    </span>
</input>
   
    <img src="mogemail.png" class="picture">
    <input class="mo_regist"  type='text' placeholder=" ᠨᠢᠭᠤᠴᠠ ᠳ᠋ᠤᠭᠠᠷ"></input>
    <img src="mogpassword.png" class="pi_right"  >
    <input  class="mog_regist"  type='text' placeholder=" ᠳᠤᠲᠤᠯᠠᠬᠤ"></input>
    <img src="mogpassword.png" class="pic_right"  >
    <input class="mogo_regist"  type='text' placeholder=" ᠤᠲᠠᠰᠦᠨ ᠳ᠋ᠤᠭᠠᠷ"></input>
    <img src="mogmobile-phone.png" class="pictu_right"  >
    <input class="mogol_regist"  type='text' placeholder=" ᠰᠢᠯᠭᠠᠬᠤ ᠳ᠋ᠤᠭᠠᠷ"></input>
    <img src="mogverification_code.png" class="picture_right"  >
    <button class="code_button" > ᠳ᠋ᠤᠭᠠᠷ</button>
    <button class="regist_button"> ᠳᠠᠨᠰᠠᠯᠠᠬᠤ</button>
</div>
 </div>