<div class="b-login-content">

    <div class="e-view">
        <div class="e-left-view l-full">
            <svg class="hsvg-icon h-icon back-login" data-bind="click: gotoLogin" aria-hidden="true">
                <use xlink:href="#iconlenf_ar"></use>
            </svg>

        </div>
        <div class="e-right-view r-full">

            <div class="loginFormWrapper fullFormWrapper">
                <center class="plugin-mark-Login-BeforeLogo">
                      <div class="wrapper-parent">

                        <form class="wrapper loginForm login-flex" style="width: 800px;" action="#/"
                            autocorrect="off" autocapitalize="off" spellcheck="false"
                            data-bind="submit: submitForm,
                                css: {
                                    'errorAnimated': formError,
                                    'submitting': submitRequest()
                                },">

                            <div>
                                <div class="err-view">
                                    <div class="alert alert Error i18nflex" data-bind="visibleAnimated: '' !== submitError()">
                                        <span data-bind="text: submitError"></span>
                                        <div data-bind="visible: '' !== submitErrorAddidional()">
                                            <br />
                                            <span data-bind="text: submitErrorAddidional"></span>
                                        </div>
                                        <button type="button" class="close"
                                            data-bind="click: function () { submitError('') }">&times;</button>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="vertical-view">
                                    <h3 class="label-h3 i18nflex" data-i18n="REGISTER/LABEL_TITLE"></h3>
                                </div>
                            </div>

                            <div>
                                <div class="vertical-view">
                                    <div class="tag-vip i18nflex" id="VipPackageInfo" style="display: none;">
                                        <div class="packge-v">
                                            <svg class="hsvg-icon h-icon vip-icon" aria-hidden="true">
                                                <use xlink:href="#iconvip04"></use>
                                            </svg>
                                            <p class="" data-i18n="VIPLOGIN/LABEL_VIP_CAPACITY"></p>
                                            <p class="price"></p>
                                        </div>
                                        
                                        <div class="packge-v v-label" data-bind="click: gotoVipPackage">
                                            <svg class="hsvg-icon h-icon v-back-icon v-label" aria-hidden="true">
                                                <use xlink:href="#iconvip05"></use>
                                            </svg>
                                            <p class="v-label" data-i18n="VIPLOGIN/LABEL_CHANGE"></p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="sms-flex">
                                    <div class="face-input">
                                        <svg class="hsvg-icon h-icon ipt-img mail-icon" aria-hidden="true">
                                            <use xlink:href="#iconemail"></use>
                                        </svg>
                                        <div class="vertical-view">
                                            <input type="email" class="v-input checkAutocomplete" data-i18n="[placeholder]REGISTER/LABEL_EMAIL"
                                            autocomplete="email"
                                            maxlength="20"
                                            data-bind="textInput: email, hasFocuns: emailFocus, disable: submitRequest">
                                        </div>
                                    </div>
                                        <div class="c-tooltip">
                                            <svg class="hsvg-icon h-icon tool-icon" aria-hidden="true">
                                                <use xlink:href="#iconaks_help"></use>
                                            </svg>
                                            <span class="c-tooltiptext i18nflex" data-i18n="REGISTER/LABEL_USERCD_HELP"></span>
                                        </div>
                                </div>
                            </div>

                            <div>
                                <div class="sms-flex">
                                    <div class="face-input">
                                        <svg class="hsvg-icon h-icon ipt-img" aria-hidden="true">
                                            <use xlink:href="#iconkey"></use>
                                        </svg>
                                        <div class="vertical-view">
                                            <input type="password" class="v-input checkAutocomplete" data-i18n="[placeholder]REGISTER/LABEL_PASSWORD"
                                            autocomplete="current-password"
                                            maxlength="20"
                                            data-bind="textInput: password, hasFocus: passwordFocus, disable: submitRequest">
                                        </div>
                                    </div>
                                    <div class="c-tooltip">
                                        <svg class="hsvg-icon h-icon tool-icon" aria-hidden="true">
                                            <use xlink:href="#iconaks_help"></use>
                                        </svg>
                                        <span class="c-tooltiptext i18nflex" data-i18n="REGISTER/LABEL_PASSWORD_HELP"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="face-input">
                                <svg class="hsvg-icon h-icon ipt-img" aria-hidden="true">
                                    <use xlink:href="#iconkey"></use>
                                </svg>
                                <div class="vertical-view">
                                    <input type="password" class="v-input checkAutocomplete" data-i18n="[placeholder]REGISTER/LABEL_AFFIRM_PASSWORD"
                                    autocomplete="current-password"
                                    maxlength="20"
                                    data-bind="textInput: confirmPwd, hasFocus: confirmPwdFocus, disable: submitRequest">
                                </div>
                            </div>

                            <div>
                                <div class="sms-flex">
                                    <div class="face-input">
                                        <svg class="hsvg-icon h-icon ipt-img" aria-hidden="true">
                                            <use xlink:href="#iconphone-01"></use>
                                        </svg>
                                        <div class="vertical-view">
                                            <input type="tel" class="v-input checkAutocomplete" data-i18n="[placeholder]REGISTER/LABEL_CELLPHONE_NUMBER"
                                            maxlength="11"
                                            data-bind="textInput: mPhoneNum, hasFocus: mPhoneNumFocus, disable: submitRequest">
                                        </div>
                                    </div>
    
                                    <div class="c-tooltip">
                                        <svg class="hsvg-icon h-icon tool-icon" aria-hidden="true">
                                            <use xlink:href="#iconaks_help"></use>
                                        </svg>
                                        <span class="c-tooltiptext i18nflex" data-i18n="REGISTER/LABEL_TEL_HELP"></span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="sms-flex">
                                    <div class="face-input face-sms">
                                        <svg class="hsvg-icon h-icon ipt-img" aria-hidden="true">
                                            <use xlink:href="#iconphone-01"></use>
                                        </svg>
                                        <div class="vertical-view">
                                            <input type="text" class="v-input sms-input checkAutocomplete" data-i18n="[placeholder]REGISTER/LABEL_CELLPHONE_VERIFICATION_CODE"
                                                maxlength="6"
                                                data-bind="textInput: smsCode, hasFocus: smsCodeFocus, disable: submitRequest">
                                        </div>
                                    </div>
                                    <div class="v-btn v-sms" id="smsCode" data-bind="command: getCodeCommand">
                                        <span class="i18nflex" data-i18n="REGISTER/LABEL_GAIN_CELLPHONE_VERIFICATION_CODE"></span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="btn-flex">
                                    <div class="v-btn v-login" data-bind="command: submitCommand">
                                        <span class="i18nflex" data-i18n="REGISTER/LABEL_REGISTRATION"></span>
                                    </div>
                                    <div class="v-btn v-regist" data-bind="click: gotoLogin">
                                        <span class="i18nflex" data-i18n="REGISTER/LABEL_LOGIN_ACCOUNT"></span>
                                    </div>
                                    <div class="v-btn v-members" id="VipLogin" data-bind="click: gotoVipPackage">
                                        <span class="i18nflex" data-i18n="LOGIN/LABEL_VIP_MEMBERS"></span>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="vertical-view">
                                    <div class="v-tag-none">
    
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="vertical-view">
                                    <div class="QR-code" data-bind="click: gotoQRcode">
                                      <svg class="hsvg-icon h-icon" aria-hidden="true">
                                          <use xlink:href="#iconwechatqr"></use>
                                      </svg>
                                          <span class="i18nflex" data-i18n="REGISTER/LABEL_QRCODE_SCAN"></span>
                                    </div>
                              </div>
                            </div>

                        </form>
                    </div>
                </center>
          </div>
        <div class="v-right-sidebar" data-bind="template: {name: 'Footer'}"></div>
        </div>
    </div>

</div>
