<div id="rl-right" style="left: 0 !important;" class="b-login-content m-view">
      <div class="m-head-view">
            <div class="top-menu" data-bind="visible: vBox() == null"></div>
            <div class="m-top-menu" data-bind="visible: vBox() != null">
                  <svg class="hsvg-icon h-icon menu-icon" aria-hidden="true" data-bind="click: gotoVipPackage">
                        <use xlink:href="#iconleftarrow"></use>
                  </svg>
            </div>
            <div class="logo-view" data-bind="visible: vBox() == null">
                  <div class="c-logo">
                        <p class="i18nflex" data-i18n="REGISTER/M_LABEL_TITLE"></p>
                  </div>
            </div>
            <div data-bind="visible: vBox() != null">
                  <div class="c-vBox">
                        <div class="box-i">
                              <div data-bind="style: { display: vIdx() == 0 ? 'block' : 'none' }">
                                    <svg class="hsvg-icon h-icon r-m-icon r-m-gold-color" aria-hidden="true">
                                          <use xlink:href="#iconvip01"></use>
                                    </svg>
                                    <svg class="hsvg-icon h-icon r-m-icon-bd m-gold-color" aria-hidden="true">
                                          <use xlink:href="#iconvip01"></use>
                                    </svg>

                                    <div class="r-m-text-box m-gold-color">
                                          <p class="i18nflex" data-bind="text: vPlanTx"></p>
                                    </div>
                              </div>

                              <div data-bind="style: { display: vIdx() == 1 ? 'block' : 'none' }">
                                    <svg class="hsvg-icon h-icon r-m-icon m-green-color" aria-hidden="true">
                                          <use xlink:href="#iconvip02"></use>
                                    </svg>
                                    <svg class="hsvg-icon h-icon r-m-icon-bd v-green-color" aria-hidden="true">
                                          <use xlink:href="#iconvip02"></use>
                                    </svg>
                                    <div class="r-m-text-box v-green-color">
                                          <p class="i18nflex" data-bind="text: vPlanTx"></p>
                                    </div>
                              </div>

                              <div data-bind="style: { display: vIdx() == 2 ? 'block' : 'none' }">
                                    <svg class="hsvg-icon h-icon r-m-icon m-diamond-color" aria-hidden="true">
                                          <use xlink:href="#iconvip03"></use>
                                    </svg>
                                    <svg class="hsvg-icon h-icon r-m-icon-bd v-diamond-color" aria-hidden="true">
                                          <use xlink:href="#iconvip03"></use>
                                    </svg>
                                    <div class="r-m-text-box v-diamond-color">
                                          <p class="i18nflex" data-bind="text: vPlanTx"></p>
                                    </div>
                              </div>

                              <div class="packge-doc">
                                    <p class="i18nflex" data-bind="text: vLongTx"></p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="m-middle-view mr-view-box">

            <div class="vertical-view err-view">
                  <div class="alert alert Error m-alert" data-bind="visibleAnimated: '' !== submitError()">
                        <!-- <button type="button" class="close"
                              data-bind="click: function () { submitError('') }">&times;</button> -->
                        <span class="i18nflex" data-bind="text: submitError"></span>
                        <div data-bind="visible: '' !== submitErrorAddidional()">
                              <br />
                              <span data-bind="text: submitErrorAddidional"></span>
                        </div>
                  </div>
            </div>

            <div class="m-face-input r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconemail"></use>
                  </svg>
                  <div class="vertical-view">
                        <input type="email" class="m-input checkAutocomplete"
                              data-i18n="[placeholder]REGISTER/LABEL_EMAIL" maxlength="33" autocorrect="off"
                              autocapitalize="off" spellcheck="false"
                              data-bind="textInput: email, hasFocuns: emailFocus, event: { blur: emailBlur }, disable: submitRequest">
                  </div>
            </div>

            <div class="m-face-input r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconkey"></use>
                  </svg>
                  <div class="vertical-view">
                        <input type="password" class="m-input checkAutocomplete"
                              data-i18n="[placeholder]REGISTER/LABEL_PASSWORD" minlength="6" maxlength="20"
                              autocorrect="off" autocapitalize="off" spellcheck="false"
                              data-bind="textInput: password, hasFocus: passwordFocus, event: { blur: pwdBlur }, disable: submitRequest">
                  </div>
            </div>

            <div class="m-face-input r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconkey"></use>
                  </svg>
                  <div class="vertical-view">
                        <input type="password" class="m-input checkAutocomplete"
                              data-i18n="[placeholder]REGISTER/LABEL_AFFIRM_PASSWORD" minlength="6" maxlength="20"
                              autocorrect="off" autocapitalize="off" spellcheck="false"
                              data-bind="textInput: confPwd, hasFocus: confPwdFocus, event: { blur: confPwdBlur }, disable: submitRequest">
                  </div>
            </div>

            <div class="m-face-input r-line">
                  <svg class="hsvg-icon h-icon ipt-icon" aria-hidden="true">
                        <use xlink:href="#iconphone-01"></use>
                  </svg>
                  <div class="vertical-view">
                        <input type="tel" class="m-input checkAutocomplete"
                              data-i18n="[placeholder]REGISTER/LABEL_CELLPHONE_NUMBER" maxlength="11" autocorrect="off"
                              autocapitalize="off" spellcheck="false"
                              data-bind="textInput: mPhoneNum, hasFocus: mPhoneNumFocus, event: { blur: mPhoneNumBlur }, disable: submitRequest">
                  </div>
            </div>

            <div class="m-face-input r-line">
                  <svg class="hsvg-icon h-icon ipt-icon m-sms-icon" aria-hidden="true">
                        <use xlink:href="#iconphone-01"></use>
                  </svg>
                  <div class="vertical-view">
                        <input type="text" class="m-input m-sms-input checkAutocomplete"
                              data-i18n="[placeholder]REGISTER/LABEL_AUTH_CODE" maxlength="6" autocorrect="off"
                              autocapitalize="off" spellcheck="false"
                              data-bind="textInput: smsCode, hasFocus: smsCodeFocus, event: { blur: smsCodeBlur }, disable: submitRequest">
                  </div>
                  <button class="m-btn m-sms-btn">
                        <span id="smsCode" class="i18nflex" data-bind="command: smsCodeCommand"
                              data-i18n="REGISTER/BUTTON_SMS_CODE">
                        </span>
                  </button>

            </div>

            <div class="vertical-view">
                  <div class="m-btn-group">
                        <button class="m-btn v-login" data-bind="command: submitCommand">
                              <span class="i18nflex" data-i18n="REGISTER/LABEL_REGISTRATION"></span>
                        </button>
                        <button class="m-btn v-regist" data-bind="click: gotoLogin">
                              <span class="i18nflex" data-i18n="REGISTER/LABEL_LOGIN_ACCOUNT"></span>
                        </button>
                        <button class="m-btn v-members m-vip"
                              data-bind="click: gotoVipPackage, visible: vBox() == null">
                              <span data-i18n="LOGIN/M_LABEL_VIP_MEMBERS"></span>
                        </button>
                  </div>
            </div>

      </div>
      <div class="m-footer-view">
            <div class="social-view">
                  <div class="s-logo-view rs-logo-view s-logo-bdb">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconapple"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view rs-logo-view s-logo-bdg">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconwechat"></use>
                        </svg>
                  </div>
                  <div class="s-logo-view rs-logo-view s-logo-bdf">
                        <svg class="hsvg-icon h-icon" aria-hidden="true">
                              <use xlink:href="#iconrenew"></use>
                        </svg>
                  </div>
            </div>
      </div>
</div>