<div class="b-login-content">
      <div class="m-head-view">
            <div class="logo-view">
                  <div class="l-img">
                        <p class="" data-i18n="REGISTER/M_LABEL_TITLE"></p>
                  </div>
            </div>
      </div>
      <div class="m-middle-view m-login-flex">
            <div class="m-vertical-view"></div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <img class="">
                  <input type="text">
            </div>
            <div class="m-vertical-view">
                  <div class="m-btn-group m-login-flex">
                        <button class="m-btn">
                              <span class="i18nflex" data-i18n="REGISTER/LABEL_REGISTRATION"></span>
                        </button>
                        <button class="m-btn" data-bind="click: gotoLogin">
                              <span class="i18nflex" data-i18n="REGISTER/LABEL_LOGIN_ACCOUNT"></span>
                        </button>
                        <button class="m-btn">
                              <span class="i18nflex"></span>
                        </button>
                  </div>
            </div>
      </div>
      <div class="m-footer-view">
            <div class="social-view">
                  <div class="s-logo-view">
                        <span class="l-apple">
                              <img class="s-logo">
                        </span>
                  </div>
                  <div class="s-logo-view">
                        <span class="l-wechat">
                              <img class="s-logo">
                        </span>
                  </div>
                  <div class="s-logo-view">
                        <span class="l-facebook">
                              <img class="s-logo">
                        </span>
                  </div>
            </div>
      </div>
</div>