<div class="b-settings-accounts g-ui-user-select-none view-flex">

	<div>
		<!-- data-bind="visible:  version == 'mobile' " -->
		<div class="usr-head">
			<div class="user-avatars thm-body">
				<div class="m-user-list">
					<div class="m-user-item">
						<div class="user-img">
							<img src="" alt="">
							<svg class="hsvg-icon h-icon" aria-hidden="true">
								<use xlink:href="#iconre19"></use>
							</svg>
						</div>
					</div>
				</div>

				<div class="uPoints-view">
					<div class="uPoints-level" data-bind="click: function () { $root.passwordChange(); }">
						<span class="uPoints-prefix">010101010</span>
					</div>
					<div class="uPoints-area" data-bind="click: function () { $root.passwordChange(); }">
						<span>0000000</span>
					</div>
					<div class="uPoints-account-area">
						<span>9999999</span>
					</div>
				</div>
				<div class="uThemes">
					<img data-bind="click: function () { $root.passwordChange(); }">
				</div>
			</div>
		</div>
		<div class="usr-middle">
			<div class="u-content">
				<div class="u-items" data-bind="click: function () { $root.passwordChange(); }">
					<span class="i18nflex" data-i18n="SETTINGS_PERSONALS/LEGEND_PERSONALS"></span>
				</div>
				<div class="u-items" data-bind="click: function () { $root.passwordChange(); }">
					<span class="i18nflex">VIP Cash</span>
					<div></div>
				</div>
				<div class="u-items" data-bind="click: function () { $root.passwordChange(); }">
					<span class="i18nflex" data-i18n="SETTINGS_PERSONALS/LABEL_PASSWORD"></span>
				</div>
				<div class="u-items" data-bind="click: function () { $root.passwordChange(); }">
					<span class="i18nflex" data-i18n="SETTINGS_PERSONALS/LABEL_PHONENM"></span>
				</div>
				<div class="u-items" data-bind="click: function () { $root.passwordChange(); }">
					<div>
						<div class="i18nflex">QR-Code</div>
						<svg class="hsvg-icon h-icon ipt-img" aria-hidden="true">
							<use xlink:href="#iconwechatqr"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="usr-bottom"></div>
	</div>

</div>