<form class="forgotpw_box">
    <div class="alert alertError" data-bind="visibleAnimated: '' !== submitError()">
        <button type="button" class="close" data-bind="click: function () { submitError('') }">&times;</button>
        <span data-bind="text: submitError"></span>
        <div data-bind="visible: '' !== submitErrorAddidional()">
            <br />
            <span data-bind="text: submitErrorAddidional"></span>
        </div>
    </div>
    <h2 class="mongol_regist" data-i18n="SETPSW/SETPSW_NAME" ></h2>
					<div class="mgl_row_sow" style="display: flex;">
						<div class="span4 sp4-mgl">
							<div class="control-group reg-mgl">
								<div class="controls padvs-cons mogl_padcs">
                                    <input class="uiInput inputFrom input-mgl mgol_pass" data-i18n="[placeholder]SETPSW/SETPSW_PASSWORD" />
                                    <!-- <img data-bind="attr: {'src': srcAttrPassword()}" class="password_right"  > -->
								</div>
								<button class="forgotpw_buttobtn btn-large btn-block buttonLogin mong_button"
                                data-bind="command: submitCommand" data-i18n="SETPSW/SETPSW_BU"></button>
							</div>
					
						</div>
                    </div>
                    
</form>
