<div class="mgl_box">
    <h2 class="mongol_regist"  data-i18n="VERIFY/VERIFY_NAME"></h2>
                <div>
                    <div>
                        <input class="mgl_verify" data-i18n="[placeholder]VERIFY/VERIFY_BOX1">
                    </div>
                    <button class="mongol_code1">
                        <span data-i18n="VERIFY/VERIFY_BOX2"></span>
                    </button>
                </div>  
            </div>
        </form>
    </div>
   
        <button type="submit" class="monglo_button1"  data-bind="click: gotoSetPassword" data-i18n="VERIFY/VERIFY_BOX3"></button>
    <div style="color: lightsteelblue;">      
    </div>   
</div>
</div>