<form class="forgotpw_box">
    <div class="error">
		<span><ul class="errors">
			<li>
				<strong></strong>：ᠬᠡᠷᠡᠭᠯᠡᠭᠴᠢ ᠶᠢᠨ ᠬᠠᠶᠠᠭ ᠬᠦᠴᠦᠨ ᠦᠭᠡᠢ᠃ <a></a>
		</li>
	</ul>
</span>
	</div>
    <h2 class="mongol_regist"  data-i18n="VERIFY/VERIFY_NAME"></h2>
					<div class="mgl_row_sow" style="display: flex;">
						<div class="span4 sp4-mgl">
							<div class="control-group reg-mgl">
								<div class="controls padvs-cons mogl_padcs">
                                    <input class="uiInput inputFrom input-mgl mgol_verifyp" data-i18n="[placeholder]VERIFY/VERIFY_BOX1" />
            <!-- <img data-bind="attr: {'src': srcAttrEmail()}" class="right mogl_email"> -->
                                </div>
                                <button class="mongol_code1">
                                    <span data-i18n="VERIFY/VERIFY_BOX2"></span>
                                </button>
                                <button class="forgotpw_bu monglo_button1" data-i18n="VERIFY/VERIFY_BOX3" data-bind="click: gotoSetPassword" ></button>
							</div>
						</div>
                    </div>    
</form>
