<div class="members_box">
  <img src="mogVIPpackage.png" class="tupian">
    <h2 class="mongol_members"> ᠭᠡᠰᠢᠭᠦᠨ</h2>
    <div class="vip_mgl">
        <ul class="members">
            <li class="members_mgl">
                <p class="menbers_mgl_heijigar"> ᠬᠢᠵᠠᠭᠠᠷ  ᠦᠭᠡᠢ</p>
                <p class="menbers_mgl_heijigar2">56%  ᠰᠤᠭᠤᠯᠲᠠ</p>
                <p class="menbers_mgl_heijigar3">45¥ / ᠰᠠᠷ᠎ᠠ</p>
            </li>
            <li class="halgai_menbers">
               <p class="halgai_menbers1"> ᠬᠢᠵᠠᠭᠠᠷ  ᠦᠭᠡᠢ</p>
               <p class="halgai_menbers2">65¥ / ᠰᠠᠷ᠎ᠠ</p>
            </li>
            <li class="menbers_halgai">
               <p class="menbers_halgai1">18G</p>
               <p class="menbers_halgai2">30¥ / ᠰᠠᠷ᠎ᠠ</p>

            </li>
        </ul>
       
            
    </div>
</div>