<div class="regist_box1">
  <img src="VIPpackage.png" class="VIPpng">
    <h2 data-i18n="VIPLOGIN/VIP_PNG"></h2>
    <div id="form" class="VIPform">
         <div class="Vip_login_package_whitewire">
             <p id="#" class="Vip_login_package_size1" data-i18n="VIPLOGIN/Vip_LOGIN_PACKAGE"></p>
             <a id="#" class="Vip_login_package_size3" data-i18n="VIPLOGIN/Vip_LOGIN_PACKAGE_SIZE"></a>
         </div>
         <p class="Vip_login_package_size0" data-i18n="VIPLOGIN/Vip_LOGIN_PACKAGE_SIZE0"></p>
     <div id="input_box">
       <input type="text" data-i18n="[placeholder]VIPLOGIN/Vip_LOGIN_PACKAGE_SIZE1">
       <img src="assets/email.png" class="VIP_email_right">
     </div>
     <div id="input_box">
       <input  type="password" data-i18n="[placeholder]VIPLOGIN/Vip_LOGIN_PACKAGE_SIZE2">
       <img src="assets/password.png" class="VIP_email_right"  >
     </div>
     <button class="VIP_password" data-i18n="VIPLOGIN/Vip_LOGIN_PACKAGE_SIZE3"></button>
    </div>
</div>