<div class="members_box">
  <img data-bind="attr:{'src': srcAttrVipPackge()}" class="tupian">
    <h2 class="mongol_members" data-i18n="VIPPACKAGE/VIP_NAME"></h2>
    <div class="vip_mgl">
        <ul class="members">
            <li class="members_mgl">
                <button class="menbers_mgl_heijigar" data-i18n="VIPPACKAGE/VIP_BUY" data-bind="click: gotoVipLogin"></button>
                <p class="menbers_mgl_heijigar2" data-i18n="VIPPACKAGE/VIP_BUY1"></p>
                <p class="menbers_mgl_heijigar3" data-i18n="VIPPACKAGE/VIP_BUY2"></p>
            </li>
            <li class="halgai_menbers">
               <button class="halgai_menbers1" data-i18n="VIPPACKAGE/VIP_MENBERS" data-bind="click: gotoVipLogin"></button>
               <p class="halgai_menbers2" data-i18n="VIPPACKAGE/VIP_MENBERS1"></p>
            </li>
            <li class="menbers_halgai">
                <button class="menbers_halgai1" data-i18n="VIPPACKAGE/VIP_MENBERS2" data-bind="click: gotoVipLogin"></button>
               <p class="menbers_halgai2" data-i18n="VIPPACKAGE/VIP_MENBERS3"></p>
            </li>
        </ul>
    </div>
</div>