<div id="rl-right" style="left: 0 !important;" class="m-login-content m-view vBox-view">
      <div class="m-head-view">
            <div class="m-top-menu">
                  <svg class="hsvg-icon h-icon menu-icon" aria-hidden="true" data-bind="click: gotoLogin">
                        <use xlink:href="#iconleftarrow"></use>
                  </svg>
            </div>
      </div>
      <div class="m-middle-view" data-bind="foreach: vPlanBox">
            <div class="m-vip-box" data-bind="click: function () { $root.salePack(vipPlanCd, index); }">
                  <div data-bind="attr: { 
                        class: index == 0 ? 'c-box case-gold': index == 1 ? 'c-box case-green' : 'c-box case-diamond',
                    }">
                        <div class="box-i">
                              <div data-bind="style: { display: index == 0 ? 'block' : 'none' }">
                                    <svg class="hsvg-icon h-icon m-icon" aria-hidden="true">
                                          <use xlink:href="#iconvip01"></use>
                                    </svg>
                                    <svg class="hsvg-icon h-icon m-icon-bd m-gold-color" aria-hidden="true">
                                          <use xlink:href="#iconvip01"></use>
                                    </svg>
                              </div>

                              <div data-bind="style: { display: index == 1 ? 'block' : 'none' }">
                                    <svg class="hsvg-icon h-icon m-icon" aria-hidden="true">
                                          <use xlink:href="#iconvip02"></use>
                                    </svg>
                                    <svg class="hsvg-icon h-icon m-icon-bd m-green-color" aria-hidden="true">
                                          <use xlink:href="#iconvip02"></use>
                                    </svg>
                              </div>

                              <div data-bind="style: { display: index == 2 ? 'block' : 'none' }">
                                    <svg class="hsvg-icon h-icon m-icon" aria-hidden="true">
                                          <use xlink:href="#iconvip03"></use>
                                    </svg>
                                    <svg class="hsvg-icon h-icon m-icon-bd m-diamond-color" aria-hidden="true">
                                          <use xlink:href="#iconvip03"></use>
                                    </svg>
                              </div>

                              <div class="m-text-box">
                                    <p class="tag-p i18nflex" data-bind="text: vipPlanTx"></p>
                                    <div class="view-flex">
                                          <p class="tag-p">￥</p>
                                          <p
                                                data-bind="text: eventPrice, attr:{class: eventPrice != null ? 'tag-p m-ePrice' : ' ' }">
                                          </p>
                                          <p
                                                data-bind="text: price, attr: {class: eventPrice != null ? 'tag-p tag-line' : 'tag-p'}">
                                          </p>
                                    </div>
                              </div>

                              <div class="m-vDetail">
                                    <p class="i18nflex" data-bind="text: descriptionLongTx"></p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="m-footer-view">

      </div>
</div>