This is mobile...
<Div class="m-login-content">
      <div class="m-head-view">
            <div class="logo-view">
                  <span class="l-img">
                        <img class="c-logo">
                  </span>
            </div>
      </div>
      <div class="m-middle-view">
            <div class="m-vertical-view"></div>
            <div class="m-vertical-view"></div>
            <div class="m-vertical-view"></div>
            <div class="m-vertical-view"></div>
      </div>
      <div class="m-footer-view">
            <div class="social-view">
                  <div class="s-logo-view">
                        <span class="l-apple">
                              <img class="s-logo">
                        </span>
                  </div>
                  <div class="s-logo-view">
                        <span class="l-wechat">
                              <img class="s-logo">
                        </span>
                  </div>
                  <div class="s-logo-view">
                        <span class="l-facebook">
                              <img class="s-logo">
                        </span>
                  </div>
            </div>
      </div>
</Div>