<div class="rl-view-model RL-Register">
    <div class="b-login-content">
        <div class="e-view">
            <div class="e-left-view l-full">
                <svg class="hsvg-icon h-icon back-login" data-bind="click: gotoLogin" aria-hidden="true">
                    <use xlink:href="#iconlenf_ar"></use>
                </svg>

            </div>
            <div class="e-right-view r-full">

                <div class="loginFormWrapper fullFormWrapper">
                    <center class="plugin-mark-Login-BeforeLogo">
                        <div class="wrapper-parent">

                            <div class="wrapper view-flex">

                                <div>
                                    <div class="vertical-view">
                                        <h3 class="label-h3 i18nflex vipTitle" data-i18n="VIPPACKAGE/TITLE_VIP"></h3>
                                    </div>
                                </div>


                                <div>
                                    <div class="vPackge" data-bind="foreach: vPlanBox">

                                        <div class="vCard" data-bind="click: function () { $root.salePack(vipPlanCd); }">

                                            <div 
                                                data-bind="attr: { 
                                                    class: index == 0 ? 'vFront vip-option case-gold': index == 1 ? 'vFront vip-option case-green' : 'vFront vip-option case-diamond',
                                                }">
                                                
                                                <div class="box-i">

                                                    <div class="vp-icon" data-bind="style: { display: index == 0 ? 'block' : 'none' }">
                                                        <svg class="hsvg-icon h-icon v-icon" aria-hidden="true">
                                                            <use xlink:href="#iconvip01"></use>
                                                        </svg>
                                                        <svg class="hsvg-icon h-icon v-icon-bd v-gold-color" aria-hidden="true">
                                                            <use xlink:href="#iconvip01"></use>
                                                        </svg>
                                                    </div>

                                                    <div class="vp-icon" data-bind="style: { display: index == 1 ? 'block' : 'none' }">
                                                        <svg class="hsvg-icon h-icon v-icon" aria-hidden="true">
                                                            <use xlink:href="#iconvip02"></use>
                                                        </svg>
                                                        <svg class="hsvg-icon h-icon v-icon-bd v-green-color" aria-hidden="true">
                                                            <use xlink:href="#iconvip02"></use>
                                                        </svg>
                                                    </div>

                                                    <div class="vp-icon" data-bind="style: { display: index == 2 ? 'block' : 'none' }">
                                                        <svg class="hsvg-icon h-icon v-icon" aria-hidden="true">
                                                            <use xlink:href="#iconvip03"></use>
                                                        </svg>
                                                        <svg class="hsvg-icon h-icon v-icon-bd v-diamond-color" aria-hidden="true">
                                                            <use xlink:href="#iconvip03"></use>
                                                        </svg>
                                                    </div>
    
                                                    <div class="text-box">
                                                        <p class="tag-p i18nflex" data-bind="text: vipPlanTx"></p>
                                                        <p class="tag-p i18nflex mid-text" data-bind="text: descriptionTx"></p>
                                                        <div class="btm-text view-flex">
                                                            <p class="tag-p">￥</p>
                                                            <p data-bind="text: eventPrice, attr:{class: eventPrice != null ? 'tag-p ePrice' : ' ' }"></p>
                                                            <p data-bind="text: price, attr: {class: eventPrice != null ? 'tag-p tag-line' : 'tag-p'}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="vip-option vBack">
                                                <div class="box-i">
                                                    <p class="i18nflex" data-bind="text: descriptionLongTx"></p>
                                                </div>
                                            </div>

                                        </div>
    
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </center>
              </div>

            <div class="v-right-sidebar" data-bind="template: {name: 'Footer'}"></div>

            </div>
        </div>
    </div>
</div>
