<div class="rl-view-model RL-Register">
    <div class="b-login-content">
        <div class="loginFormWrapper">
            <center class="plugin-mark-Login-BeforeLogo">
                <div class="wrapper-parent">

                    <div class="wrapper thm-login view-flex">
                        <div class="text-center">
                            <img data-bind="attr:{'src': srcAttrVipPackge()}" class="vipPackage-icon-vip">

                            <h3 class="vipPackage-h3" data-i18n="VIPPACKAGE/VIP_NAME"></h3>
                        </div>

                        <div id="#" class="vipPag-ul view-flex">

                            <div data-bind="click: gotoVipLoginTwo" id="two">
                                <div id="#" class="login-flex i18nflex vip-option">
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_MENBERS"></p>
                                    <p class="tag-p vip-m" data-i18n="VIPPACKAGE/VIP_MAILBOX"></p>
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_BUY1"></p>
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_BUY2">/p>
                                </div>
                            </div>

                            <div data-bind="click: gotoVipLoginThree" id="three">
                                <div id="#" class="login-flex i18nflex vip-option">
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_MENBERS"></p>
                                    <p class="tag-p vip-m" data-i18n="VIPPACKAGE/VIP_MAILBOX"></p>
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_MENBERS3"></p>
                                </div>
                            </div>

                            <div data-bind="click: gotoVipLoginOne" id="one">
                                <div id="#" class="login-flex i18nflex vip-option">
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_MENBERS2"></p>
                                    <p class="tag-p vip-m" data-i18n="VIPPACKAGE/VIP_MAILBOX"></p>
                                    <p class="tag-p" data-i18n="VIPPACKAGE/VIP_MENBERS1"></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</div>