<div class="m-login-content m-view">
      <div class="m-head-view">
            <div class="m-top-menu">
                  <svg class="hsvg-icon h-icon menu-icon" aria-hidden="true" data-bind="click: gotoLogin">
                        <use xlink:href="#iconleftarrow"></use>
                  </svg>
            </div>
      </div>
      <div class="m-middle-view">
            <div class="m-vip-box">
                  <div class="case-gold c-box" data-bind="click: gotoVipLoginOne">
                        <div class="box-i">
                              <svg class="hsvg-icon h-icon m-icon" aria-hidden="true">
                                  <use xlink:href="#iconvip01"></use>
                              </svg>
                              <svg class="hsvg-icon h-icon m-icon-bd m-gold-color" aria-hidden="true">
                                  <use xlink:href="#iconvip01"></use>
                              </svg>

                              <div class="m-text-box">
                                  <p class="tag-p i18nflex" data-i18n="VIPPACKAGE/LABEL_MAILBOX_GOLD"></p>
                                  <p class="tag-p" data-i18n="VIPPACKAGE/SELL_GOLD">/p>
                              </div>
                        </div>
                  </div>
                  <div class="case-green c-box" data-bind="click: gotoVipLoginTwo">
                        <div class="box-i">
                              <svg class="hsvg-icon h-icon m-icon" aria-hidden="true">
                                  <use xlink:href="#iconvip02"></use>
                              </svg>
                              <svg class="hsvg-icon h-icon m-icon-bd m-green-color" aria-hidden="true">
                                  <use xlink:href="#iconvip02"></use>
                              </svg>
                              <div class="m-text-box">
                                  <p class="tag-p i18nflex" data-i18n="VIPPACKAGE/LABEL_MAILBOX_GREEN"></p>
                                  <p class="tag-p" data-i18n="VIPPACKAGE/SELL_GREEN">/p>
                              </div>
                        </div>
                  </div>
                  <div class="case-diamond c-box" data-bind="click: gotoVipLoginThree">
                        <div class="box-i">
                              <svg class="hsvg-icon h-icon m-icon" aria-hidden="true">
                                  <use xlink:href="#iconvip03"></use>
                              </svg>
                              <svg class="hsvg-icon h-icon m-icon-bd m-diamond-color" aria-hidden="true">
                                  <use xlink:href="#iconvip03"></use>
                              </svg>
                              <div class="m-text-box">
                                  <p class="tag-p i18nflex" data-i18n="VIPPACKAGE/LABEL_MAILBOX_DMOD"></p>
                                  <p class="tag-p" data-i18n="VIPPACKAGE/SELL_DMOD">/p>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="m-footer-view">
            
      </div>
</div>