@charset "utf-8";

.members_box {
	width:500px;
	height:420px;
	margin: -200px 0 0 -245px;
	position: absolute;
	top: 50%;
	left: 50%;
	
	background: #0c0c0c88;
	text-align: center;	
	padding: 10px 1px;
	border-radius: 20px 20px 20px 20px;
}

.mongol_members {
	color: #FFFFFF90;
    margin-top: 1%;
    font-family: Mongolian Sonin;
    position: absolute;
    transform: rotate(90deg);
    left: 260px;
    top: 23px;
    font-size: 31px;
}
#members-mongol {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
}
.mongol-body {
    color: #333;
    background-color: #48525c;
    background-size: inherit;
    background-image: url(background.jpg) !important;
}
.vip_mgl{
    height: 330px;

}
.members{
    width: 455px;
height: 310px;
}
.members_mgl{
    height: 80px;
    width: 347px;
    transform: rotate(90deg);
    position: absolute;
    top: 216px;
    left: -92px;
    border: 1px solid #c09f62;
}
.menbers_mgl_heijigar{
    position: absolute;
font-family: Mongolian Sonin;
color: aliceblue;
font-size: 30;
left: 10px;
top: -8px;
}
.menbers_mgl_heijigar2{
    position: absolute;
font-family: Mongolian Sonin;
color: aliceblue;
font-size: 15;
left: 152px;
top: -9px;
}
.menbers_mgl_heijigar3{
    position: absolute;
font-family: Mongolian Sonin;
color: aliceblue;
font-size: 22px;
    left: 257px;
    top: 4px;
}
.halgai_menbers{
    height: 80px;
    width: 347px;
    transform: rotate(90deg);
    position: absolute;
    top: 216px;
    left: 82px;
    border: 1px solid #c09f62;

}
.halgai_menbers1{
    position: absolute;
    font-family: Mongolian Sonin;
    color: aliceblue;
    font-size: 30px;
    left: 10px;
    top: -8px

}

.halgai_menbers2{
    position: absolute;
    font-family: Mongolian Sonin;
    color: aliceblue;
    font-size: 22px;
        left: 257px;
        top: 4px;
}
.menbers_halgai{
    height: 80px;
    width: 347px;
    transform: rotate(90deg);
    position: absolute;
    top: 216px;
    left: 250px;
    border: 1px solid #c09f62;
}
.menbers_halgai1{
    position: absolute;
    font-family: Mongolian Sonin;
    color: aliceblue;
    font-size: 30px;
    left: 10px;
    top: -8px
}
.menbers_halgai2{
    position: absolute;
    font-family: Mongolian Sonin;
    color: aliceblue;
    font-size: 22px;
    left: 255px;
    top: 4px
}



  