.regi{
  
  position:absolute;
	top:50%;
	left:50%;  /*如果把这几行删掉，不可以居中 */
	border-radius: 5px;
	-webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    transform:translate( -50%, -50%);
}

.mongl-regist{
  height:35px;
  width:300px;
  position:relative;
  display:inline;
}

.reist1{
  font-size:28px;
  writing-mode: vertical-lr;
  font-family: Mongolian Sonin;
  margin-left: -88px;
  position: absolute; 

}

.regist2{
  font: size 17px;
  margin-top: -6px;
  font-family: Mongolian Sonin;
  writing-mode: vertical-lr;
}
.regist3{
  height:35px;
  width:300px;
  display:inline;

}
.regist4{
  height:35px;
  width:300px;

}

.c{
        color:red;
        margin-left:4px;
        display:inline-block;
}

.agree{
  margin-left:22px;
  height:30px;width:300px;
  background-color:red;
  display:inline-block;
}
.the-username{
  height:35px;
  width:300px;
  /* padding-right:50px; */
}



  