.password_box {
	width:500px;
	height:420px;
	margin: -200px 0 0 -245px;
	position: absolute;
	top: 50%;
	left: 50%;
	
	background: #0c0c0c88;
	text-align: center;	
	padding: 10px 1px;
	border-radius: 20px 20px 20px 20px;
}

.mongol_password {
	color: aliceblue;
    margin-top: 11%;
    font-family: Mongolian Sonin;
    transform: rotate(90deg)
}
.new_password{
    border: 0;
    width: 302px;
    font-size: 20px;
    color: #FFFFFF;
    background: #0c0c0c38;
    border-bottom: 1px solid #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.822);
    border-top: 1px solid rgba(255, 255, 255, 0.822);
    border-left: 1px solid rgba(255, 255, 255, 0.822);
    border-right: 1px solid rgba(255, 255, 255, 0.822);
    padding: 5px 10px;
    margin-top: -10px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: -120px;
    top: 105px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
}
.mog_password{
	border: 0;
	width: 60%;
	font-size: 20px;
	color: #FFFFFF;
	background:   #0c0c0c38;
	border-bottom: 1px solid #FFFFFF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.822);
	border-top: 1px solid rgba(255, 255, 255, 0.822);
	border-left: 1px solid rgba(255, 255, 255, 0.822);
	border-right: 1px solid rgba(255, 255, 255, 0.822);
	padding: 5px 10px;
	margin-top: 10px;
	/* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
	border-radius: 5px 5px 5px 5px;
	position: relative;
    left: 77px;
    top: 59px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
}
#mongnew_password{
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
}
.password_body{
    color: #333;
    background-color: #48525c;
    background-size: inherit;
    background-image: url(background.jpg) !important;
}
.password_right{
    width: 20px;
    height: 24px;
    position: relative;
    top: 272px;
    left: -287px;
    transform: rotate(90deg);
  }
