
.mongol_code1{
    border: 0;
    width: 25%;
    font-size: 20px;
    color: #FFFFFF;
    background: #0c0c0c38;
    border-bottom: 1px solid rgba(255, 255, 255, 0.822);
    border-top: 1px solid rgba(255, 255, 255, 0.822);
    border-left: 1px solid rgba(255, 255, 255, 0.822);
    border-right: 1px solid rgba(255, 255, 255, 0.822);
    padding: 4px 10px;
    margin-top: 10px;
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    border-radius: 5px 5px 5px 5px;
    position: relative;
    top: 12px;
    left: -88px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg)
}

.mongol_input{

    border: 0;
    width: 60%;
    font-size: 20px;
    color: #FFFFFF;
    background: #0c0c0c38;
    border-bottom: 1px solid rgba(255, 255, 255, 0.822);
    border-top: 1px solid rgba(255, 255, 255, 0.822);
    border-left: 1px solid rgba(255, 255, 255, 0.822);
    border-right: 1px solid rgba(255, 255, 255, 0.822);
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: -150px;
    top: 107px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
}

.monglo_button1{
    border: 0;
    width: 302px;
    font-size: 20px;
    color: #FFFFFF;
    background: #0c0c0c38;
    border-bottom: 1px solid #FFFFFF;
    border-bottom: 1px solid rgba(255, 255, 255, 0.822);
    border-top: 1px solid rgba(255, 255, 255, 0.822);
    border-left: 1px solid rgba(255, 255, 255, 0.822);
    border-right: 1px solid rgba(255, 255, 255, 0.822);
    padding: 5px 10px;
    margin-top: -10px;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    left: 50%;
    top: 503px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
}
#mgl_verify{
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
}
.mgl-body{
    color: #333;
    background-color: #48525c;
    background-size: inherit;
    background-image: url(background.jpg) !important;
}
.mgl_box {
	width:500px;
	height:420px;
	margin: -200px 0 0 -245px;
	position: absolute;
	top: 50%;
	left: 50%;
	
	background: #0c0c0c88;
	text-align: center;	
	padding: 10px 1px;
	border-radius: 20px 20px 20px 20px;
}
.mgl_h{
	color: aliceblue;
    margin-top: 5%;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
}







/* .mogl_email{
    position: absolute;
    left: 104px;
    width: 35px;
    top: 380px;
    transform: rotate(90deg);
    
}

.forgotpw_box {
	width:500px;
	height:420px;
	margin: -200px 0 0 -245px;
	position: absolute;
	top: 50%;
	left: 50%;
	
	background: #0c0c0c88;
	text-align: center;	
	padding: 10px 1px;
	border-radius: 20px 20px 20px 20px;
}

.mogl_forgotpw {
	color: #FFFFFF90;
    margin-top: 1%;
    margin-left: 225px;
    font-family: Mongolian Sonin;
    writing-mode: vertical-lr;
}

.mogl_box {
	margin-top: 3%;
}
.mog_forgotpw {
	border: 0;
	width: 60%;
	font-size: 22px;
	color: #FFFFFF;
	background:  #0c0c0c38;
	border-bottom: 1px solid rgba(255, 255, 255, 0.822);
	border-top: 1px solid rgba(255, 255, 255, 0.822);
	border-left: 1px solid rgba(255, 255, 255, 0.822);
	border-right: 1px solid rgba(255, 255, 255, 0.822);
	padding: 5px 10px;
	margin-top: 5px;
    border-radius: 5px 5px 5px 5px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
    margin-left: -260px;
}
.forgotpw_butto {
	border: 0;
	width: 60%;
	font-size: 20px;
	color: #FFFFFF;
	background:   #0c0c0c38;
	border-bottom: 1px solid #FFFFFF;
	border-bottom: 1px solid rgba(255, 255, 255, 0.822);
	border-top: 1px solid rgba(255, 255, 255, 0.822);
	border-left: 1px solid rgba(255, 255, 255, 0.822);
	border-right: 1px solid rgba(255, 255, 255, 0.822);
	padding: 5px 10px;
	margin-top: 10px;

	border-radius: 5px 5px 5px 5px;
	position: relative;
	left: 16.5%;
    top: -47px;
    font-family: Mongolian Sonin;
    transform: rotate(90deg);
}


#mongol-forget {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
}
.mongol_box {
    color: #333;
    background-color: #48525c;
    background-size: inherit;
    background-image: url(background.jpg) !important;
} */
